#filter_widget_state_selector.modal
  = form_tag filters_filter_schools_by_state_path, :remote => true do
    .modal-header
      %h3 Build filter - Select States
    .modal-body
      %table.table-striped
        - State.all.each_slice(3) do |state_pair|
          %tr.form-horizontal
            - state_pair.each do |state|
              %td
                .control-group
                  %label.control-label= "#{state.name} - #{School.for_states(state).count}"
                  .controls
                    = check_box_tag "states[]", state.id, false, :class => "filter_widget_state_checkbox", "data-state-name" => state.name
    .modal-footer
      = submit_tag "Next Step", :class => "btn btn-primary"
