= javascript_include_tag "https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"
= stylesheet_link_tag "https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css"
.main-content-wrapper
  .primary-content-fw

    - if report.state == "complete"
      %h1 Student Credit History Report
      = form_tag student_credit_history_report_path, method: :get, class: "noprint" do
        .filter
          %h4 Filter By
          .all-students
            = radio_button_tag :student_filter_type, :all_at_school, params[:student_filter_type] == 'all_at_school'
            = label_tag :all_at_school, "All students at #{current_school.name.capitalize}"
          .given-credits
            = radio_button_tag :student_filter_type, :students_ive_given_bucks_to, params[:student_filter_type] == 'students_ive_given_bucks_to'

            = label_tag :students_ive_given_bucks_to, "Students I've given credits to"
          .all-classrooms
            = radio_button_tag :student_filter_type, :all_my_classrooms, params[:student_filter_type] == 'all_my_classrooms'

            = label_tag "All my classrooms"
          .classroom
            = radio_button_tag :student_filter_type, :classroom, params[:student_filter_type] == 'classroom'

            = label_tag "Classroom"
            = select_tag :classroom, options_from_collection_for_select(classrooms, :id, :name, params[:classroom])
            = submit_tag 'Go!'

        .sorting
          %h4 Sort By
          = select_tag :sort_by, options_for_select(["Default", "First, Last", "Last, First", "Username"], params[:sort_by])
          = submit_tag 'Go!'
      = button_to 'Print Report', '#', { class: 'noprint btn awesome-button', onclick: 'printReport();', method: :put }
      .report
        %p The report can be sorted using the arrows in the heading of the report results. To sort by more than 1 column, sort the first column and then hold shift when clicking the second column. You can also search your report to find something or someone in particular using the search box below.
        %table#report_table.table.table-bordered.table-striped.solid-background
          %thead
            %tr
              %th Student
              %th Username
              %th Checking Balance
              %th Savings Balance
          %tbody
            - report_data = JSON.parse(report.report_data)
            - report_data.each do |row|
              %tr
                %td= link_to(row["student"], "#history-modal", class: 'history-action', 'data-id' => row["id"], 'data-name' => row["student"], 'data-toggle' => 'modal')
                %td= row["username"]
                %td= row["checking_balance"]
                %td= row["savings_balance"]
    - else
      .message.center-content
        = image_tag "loading.gif"
        %h3 Your student credit history report is currently processing, it will show up here when it is completed.
      :javascript
        setTimeout(checkReportStatus, 1000);

        function checkReportStatus() {
          $.get(window.location.pathname + ".json",function(data) {
            if (data.delayed_report.state == "complete") {
              loadReport();
            } else {
              setTimeout(checkReportStatus, 1000);
            }
          });
        }

        function loadReport() {
          location.reload();
        }

#history-modal.modal
  .modal-header
    %h3.title
  %ul.nav.nav-tabs
    %li.active
      %a{"href" => "#checking-history", "data-toggle" => "tab"} Checking History
    %li
      %a{"href" => "#savings-history", "data-toggle" => "tab"} Savings History

  .tab-content
    #checking-history.tab-pane.active
      Loading Checking History...

    #savings-history.tab-pane
      Loading Savings History...

:javascript
  $(document).ready(function () {
    $('#report_table').dataTable({
      "bPaginate": false,
      "bInfo": false
    });

    // On click of student name, we will setup spinners
    //  and load checkings/savings data to return to the
    //  modal.
    $('.history-action').click(function(e) {
      var el = $(e.currentTarget);
      // Set title for modal
      $('#history-modal .title').html("Student: " + el.data("name"));

      // Get Checking History
      $.get('/reports/student_credit_history/checking_transactions/'+el.data('id'), function(data) {
        $("#checking-history").html(data);
      });

      // Get Savings History
      $.get('/reports/student_credit_history/savings_transactions/'+el.data('id'), function(data) {
        $("#savings-history").html(data);
      });
    });

    // On hide of modal, we need to clear out the student's data
    $('#history-modal').on('hidden', function() {
      $('#checking-history').html("Loading Checking History...");
      $('#savings-history').html("Loading Savings History...");
    });
  });
