= simple_form_for @uploaded_user,  :html => { :class => 'form-horizontal' }  do |f|
  = f.input :batch_name, :html => {:class => 'focus-on-me'}
  = f.input :username
  = f.input :first_name
  = f.input :last_name
  = f.input :grade, :collection => 0..12
  = f.input :password
  = f.association :school, :as => :select
  = f.submit "Save"

