%ul.nav-group
  %li= link_to "Friend Messages",  friend_messages_path
  %li= link_to "School Messages",  school_messages_path
  %li= link_to "Teacher Messages", teacher_messages_path
  %li= link_to "System Messages",  system_messages_path
  %li= link_to 'Send Admin a Message', admin_message_path
