.boxes-nav-container
  %h3 Messages:
  %hr
  %ul.nav-group
    %li= link_to "Friend Messages", friend_messages_path, :class => 'friend-message active'
    %li= link_to "School Messages",  school_messages_path, :class => 'school-message'
    %li= link_to "Teacher Messages", teacher_messages_path, :class => 'teacher-message'
    %li= link_to "System Messages",  system_messages_path, :class => 'system-message'
    %li= link_to 'Send Admin a Message', admin_message_path, :class => 'admin-message'
    %br

  %h3 Send a Message:
  %hr 
  = link_to "Send a Message", new_message_path, class: 'btn', 'data-toggle' => 'modal', 'data-target' => '#send-message-modal'
