.main-content-wrapper-no-bg
  .primary-content
    .admin-message-content
      %h1 Admin Message
      = form_for @message do |f|
        .select-message
          = f.label :subject
          = f.text_field :subject
          = f.label :body
          = f.text_area :body
        = hidden_field_tag :refurl, params[:refurl]

        = f.submit "Send Message", class: 'btn awesome-button'
  .secondary-content
    = render 'boxes_nav'
