%h3 Send Message Header
%p= lipsum 100
= form_for @message do |f|
  .row
    .span3
      .select-message
        %strong Select Message
        = f.select :canned_message, options_for_select(Message.canned_messages)
      .select-recipient
        %strong Select Who To Send It To
        = f.select :to_ids, options_from_collection_for_select(@grademates, :id, :name), { }, { multiple: true }
        .image-placeholder
          Paginated Friend List
    .span2
      %strong Select Image
      #hover_value= f.hidden_field :message_image_id
      #image_partial= render :partial => 'images'
  = f.submit "Send Message", class: 'btn btn-primary'

= javascript_include_tag "image_pager.js"

:javascript
  $(".hover_image").hover(
    function() { $(this).addClass("hover"); },
    function() { $(this).removeClass("hover"); }
  );

  $('.hover_image').click( function() {
    $('.hover_image').removeClass("active");
    $(this).addClass('active').siblings().removeClass('active');
    var imageId = $(this).attr("id");
    $("input[id=student_message_student_command_message_image_id]").val(imageId)
  });
