.main-content-wrapper-no-bg
  .primary-content
    .admin-message-content
      %h1 Admin Message
      = form_for @message do |f|
        .select-message
          = f.label :subject
          = f.text_field :subject
          - if current_school.sti_id.present?
            = f.label :alternate_email
            = f.text_field :alternate_email
          = f.label :body
          = f.text_area :body

        = f.submit "Send Message", class: 'btn awesome-button'
  .secondary-content
    = render 'boxes_nav'
