%h1= "Welcome to Learning Earnings!"
%br
%p= "To activate your account, please click on the below activation link:"
%br 
%p= link_to "Activate Account", @confirmation_url
%br 
%p= "If the above URL does not work try copying and pasting it into your browser. "
%p= "If you continue to have problem please feel free to contact us."

