.main-content-wrapper
  .full-content
    %h1 Reward Templates

    = link_to 'Create a Custom Reward', new_teachers_reward_path, class: 'awesome-button'

    #reward-templates
      = form_for 'reward_templates_search', remote: true, id: 'reward-template-form' do |f|
        #template-controls
          = f.select :grade_filter, options_for_select(School::GRADES), {:prompt => 'Grade'}
          = f.text_field :search
          = hidden_field_tag :page, params[:page]
          = f.submit 'Search', class: 'awesome-button'
    = render partial: "reward_templates_search_results", locals: {reward_templates: @reward_templates}


:javascript
  $(document).ready(function() {

    $("#reward-templates").children().on("ajax:success", function(e, data, status, xhr){
      $("#reward_template_listings").replaceWith(xhr.responseText);
    });

  });
