.main-content-wrapper
  .full-content
    %h1 Reward Templates

    = link_to 'Create a Custom Reward', new_teachers_reward_path, class: 'awesome-button'

    #reward-templates
      = form_tag teachers_reward_templates_path, method: :get, remote: true, id: 'reward-template-form' do 
        #template-controls
          = select_tag :grade_filter, options_for_select(School::GRADES), {:prompt => 'Grade'}
          = text_field_tag :q
          = hidden_field_tag :page, params[:page]
          = submit_tag 'Search', class: 'awesome-button'
    = render partial: "reward_templates_search_results", locals: {reward_templates: @reward_templates}


:javascript
  $(document).ready(function() {

    $("#reward-templates").children().on("ajax:success", function(e, data, status, xhr){
      $("#reward_template_listings").replaceWith(xhr.responseText);
    });

  });
