= simple_form_for(@teachers_reward,method: :post, :url => teachers_rewards_path, :html => {:class => 'form-horizontal'}) do |f|
  = f.error_notification
  %h3 Name and Price
  .row-fluid
    .form-inputs.controls-row.span6
      = f.input :name, label: "Name", placeholder: 'Your Reward Name', input_html: {class: 'input-large focus-on-me'}
      = f.input :image, :label => "Reward Category", :collection => @reward_categories.collect {|row| [row[2],row[0]]}
      = f.input :on_hand, label: "Quantity On Hand", placeholder: 'On Hand', input_html: { :min => "0",class: 'input-small focus-on-me numeric'}
      = f.input :price, label: "Students' Price", :wrapper => :prepend_append do
        %span.add-on $
        = f.input_field :price, class: 'input-small numeric'
        %span.add-on .00
    .form-inputs.controls-row.span6.clearfix
      %img#sample-image{:src => @teachers_reward.image}
  %h3
    Select Classrooms for your reward
  .row-fluid.controls-row
    .classrooms
      - f.collection_check_boxes(:classrooms, [[ 0,"Whole School"]], :first, :last) do |b|
        %div.classroom-checkbox
          = b.label(:class => "inline") { b.check_box(:class => 'school-checkbox inline') + b.text}
  .row-fluid.controls-row
    #classrooms.classrooms
      - f.collection_check_boxes :classrooms, current_person.classrooms, :id, :name do |b|
        %div.classroom-checkbox
          = b.label(:class => "inline") { b.check_box(:class => 'class-checkbox inline') + b.text}
  .control-row
  = f.submit "WILL NOT SAVE", :class => 'btn awesome-button'

:javascript
  var reward_categories = #{(@reward_categories + [[nil,@teachers_reward.image,""]]).collect{ |row| [row[0].to_s,row[1]]}.to_json};

:coffeescript
  jQuery ->
    update_image = (_event) ->
      ($ '#sample-image').attr('src',rc[1]) for rc in reward_categories when rc[0] is ($ "select#teachers_reward_image").val() or ($ "select#teachers_reward_image").val() is undefined

    toggle_all_classrooms = (_event) ->
      if ($ _event.target).prop('checked') == true
        ($ ".class-checkbox").prop('checked', true);
      else
        ($ ".class-checkbox").prop('checked',false);


    ($ 'select#teachers_reward_image').change (_event) ->
      update_image(_event)

    ($ 'input.school-checkbox').change (_event) ->
      toggle_all_classrooms(_event)


  ($ "input.school-checkbox").click()