.resp-product-tile{"data-hook" => "products_list_item", :id => "product_#{product.id}", :itemscope => "", :itemtype => "http://schema.org/Product"}
  .resp-product-image
    - if product.images.present?
      = image_tag(product.images.first.attachment.url(:small))
  .resp-product-details
    = link_to(product.name, teachers_reward_path(product.id))
    .price.selling{:itemprop => "price"}= product.price.to_s + " each"
  .resp-product-classrooms
    - if product.classrooms.present? && product.classrooms.count > 1
      = "#{product.classrooms.count} Classrooms"
    -elsif product.classrooms.present?
      = "#{product.classrooms.count} Classroom"
    - else
      Whole School
  .resp-product-moreinfo
    = "You have #{product.on_hand} left to sell"
