.resp-product-tile{"data-hook" => "products_list_item", :id => "product_#{product.id}", :itemscope => "", :itemtype => "http://schema.org/Product"}
  .resp-product-image
    = image_tag(product.images.first.attachment.url(:small))
  .resp-product-details
    = link_to(product.name ,edit_teachers_reward_path(product.id))
    .price.selling{:itemprop => "price"}= product.price.to_s + " each"
  .resp-product-classrooms
    - if product.filter.classrooms.count > 0
      - if product.filter.classrooms.count > 1
        = "#{product.filter.classrooms.count} Classrooms"
      - else
        %span{:title => product.filter.classrooms[0].teachers.join(',')}
          = product.filter.classrooms[0].name
    - else
      Whole School
  .resp-product-moreinfo
    = "You have #{product.on_hand} left to sell"
