.product-tile
  .product-title
    = link_to truncate("#{product.name}", :length => 50), edit_teachers_reward_path(product.id), :class => 'info', :itemprop => "name", :title => product.name
  .product-image
    -# = cache("#{Time.now.strftime("%Y%m%d")}image_product_id-#{product.id}") do
    - if product.images.present?
      = image_tag(product.images.first.attachment.url(:small))
    -# = link_to small_image(product, :itemprop => "image"), edit_teachers_reward_path(product.id), :itemprop => 'url'
  %br
  .product-details
    .price.selling{:itemprop => "price"}= "Price: #{number_with_precision(product.price, precision: 2, delimiter: ',')}"
    .quantity{:itemprop => "on_hand"}= "Available: #{product.on_hand.to_s}"
    - if product.classrooms.any?
      .type Type: Classroom
    - else
      .type Type: School
    .owner{class: "label label-default"}= "Teacher: #{product.person}"
  %br
  .product-actions.pull-right
    = button_to "Delete", teachers_reward_path(product.id), method: :delete, class: "delete", confirm: "Are you sure you want to delete this reward?"
