%h2 Classroom: #{@classroom.name}
%ul.action_buttons
  %li= link_to "Back", classroom_path(@classroom), class: 'btn awesome-button'
  %li= button_to "Delete classroom", classroom_path(@classroom), confirm: "Are you sure?", method: :delete, class: 'btn awesome-button'

= form_for @classroom do |f|
  = f.text_field :name
  = f.submit
 
