.main-content-wrapper

  .primary-content
    .create-classroom
      %h3 Create a Classroom
      %hr
      = form_for Classroom.new do |f|
        = f.label :classroom_name
        = f.text_field :name, :class => 'focus-on-me'
        = f.hidden_field :school_id, :value => current_school.id
        = f.submit 'Create', :class => "awesome-button"


  .secondary-content
    %h2 Classrooms
    #classrooms
      - if @classrooms.present?
        - @classrooms.each do |classroom|
          %h3= link_to classroom.name, classroom_path(classroom)
