.main-content-wrapper

  .primary-content
    .create-classroom
      %h3 Create a Classroom
      %hr
      = form_for Classroom.new do |f|
        = f.label :classroom_name
        = f.text_field :name, :class => 'focus-on-me'
        = f.hidden_field :school_id, :value => current_school.id
        = f.submit 'Create', intro_tour(2,'create_classroom',current_person,{:class => "awesome-button" })


  .secondary-content
    %h2 Classrooms
    #classrooms
      - if @classrooms.present?
        - @classrooms.each_with_index do |classroom, index|
          - if (index == 0)
            %h3
              = link_to classroom.name, classroom_path(classroom), intro_tour(3,'add_students_to_class',current_person,{:class => "" })
          - else 
            %h3
              = link_to classroom.name, classroom_path(classroom)
              
:javascript
  introJs().setOption('doneLabel', 'Next page').start().oncomplete(function() {
    window.location.href = "/store?multipage=true&tour=Y";
  });  