.main-content-wrapper

  .primary-content
    .create-classroom
      %h3 Create a Classroom
      %hr
      = form_for Classroom.new do |f|
        = f.label :classroom_name
        = f.text_field :name, :class => 'focus-on-me'
        = f.hidden_field :school_id, :value => current_school.id
        = f.submit 'Create', :class => "awesome-button submit"


  .secondary-content
    %h2 Classrooms
    #classrooms
      - if @classrooms.present?
        - @classrooms.each_with_index do |classroom, index|
          - if (index == 0)
            %h3
              = link_to classroom.name, classroom_path(classroom), { class: "classroom" }
          - else
            %h3
              = link_to classroom.name, classroom_path(classroom), { class: "classroom" }

%script#classroom_list{ type: 'text/html' }
  :plain
    {{#classrooms}}
      <h3 data-id={{id}}>
        <a href="/classrooms/{{id}}?tour=Y">{{name}}</a>
      </h3>
    {{/classrooms}}

= javascript_include_tag "tours/school_admin/overview"
= javascript_include_tag "tours/teacher/overview"

:javascript
  if (hopscotch.getState() !== null) {
    var tour = window[hopscotch.getState().split(":")[0]];
    hopscotch.startTour(tour);
  }

  // This function has to be here to make sure we progress the tour
  //  when the user clicks the classroom link to add students.
  function setup_links() {
    $('#classrooms h3 > a').click(function(e) {
      if (hopscotch.getState() !== null) {
        hopscotch.nextStep();
      }
    });
  }

  $('.submit').click(function(e) {
    e.preventDefault();
    var $form = $('#new_classroom');
    var values = $form.serialize();

    $.ajax({
      type: "POST",
      url: $form.attr('action'),
      data: values,
      dataType: 'JSON'
    }).success(function(response) {
      if (response.status == "ok") {
        var classroom = response.classroom.classroom;
        var classrooms = $.map(response.classrooms, function(classroom) {
          return classroom.classroom;
        });
        ich.grabTemplates();
        var html = ich.classroom_list({classrooms: classrooms});
        $('#classrooms').html(html);

        // Setup links
        setup_links();

        // If Tour is running, proceed to next step
        hopscotch.nextStep();
      }
    });
  });
