%h2 Classrooms
- if @classrooms.present?
  %table
    %thead
      %tr
        %th Class Name
        %th Remove Classroom
    %tbody
      - @classrooms.each do |classroom|
        %tr
          %td= link_to "Edit Classroom #{classroom.name}", classroom_path(classroom), class: 'btn', 'data-toggle' => 'modal', 'data-target' => '#manage_class-modal'
          %td= link_to 'Remove Class', classroom_path(classroom), :method => :delete
        - if classroom.students.present?
          %table
            %thead
              %tr
                %th Student Name
                %th Remove Student
            %tbody
              - classroom.students.each do |student|
                %tr
                  %td= student.name
                  %td= link_to 'Remove', remove_classroom_student_path(:classroom => classroom, :student => student)



= form_for Classroom.new do |f|
  = f.label :name
  = f.text_field :name, :class => 'focus-on-me'
  = f.hidden_field :school_id, :value => current_school.id
  = f.submit 'Create Classroom'



#manage_class-modal.modal.hide
  .modal-body


