%h2 Choose a food

= form_for FoodSchoolLink.new, :url => choose_person_games_food_fight_path do |f|
  #hover_value= hidden_field_tag :food_id 
  - if current_person.favorite_foods.present?
    %h4 Favorite Foods
    %ul.foods
      - current_person.favorite_foods.each do |food|
        %li.food= image_tag food.image.thumb('50x50#').url, :id => food.id
  %h4 All Foods
  %ul.foods
    - (@foods - current_person.favorite_foods).each do |food|
      %li.food= image_tag food.image.thumb('50x50#').url, :id => food.id
  = f.submit 'Submit Food'


:javascript
  $('.food').click( function() {
    $('.food').removeClass('active');
    $(this).addClass('active');
    var imageId = $('img', this).attr("id");
    $("input[id=food_id]").val(imageId)
  });
