%h2 Choose a Student

= form_for FoodPersonLink.new, :url => throw_food_games_food_fight_path do |f|
  #hover_value= hidden_field_tag :person_id
  =hidden_field_tag :food_id, params[:food_id]
  - if current_person.favorite_people.present?
    %h4 Favorite People
    - current_person.favorite_people.each do |student|
      %ul
        %div{:id => "#{student.id}", :class => "student_hover"}
          %li= student.name

  %h4 All Students
  - (@students).each do |student|
    %ul
      %div{:id => "#{student.id}", :class => "student_hover"}
        %li= student.name
  = f.submit 'Throw Food'


:javascript
  $(".student_hover").hover(
    function() { $(this).addClass("hover"); },
    function() { $(this).removeClass("hover"); }
  );

  $(".student_hover").click( function() {
    $('.student_hover').removeClass("active");
    $(this).addClass("active").siblings().removeClass("active");
    var imageId = $(this).attr("id");
    $("input[id=person_id]").val(imageId)
  });

