%h2 Choose a food

= form_for FoodSchoolLink.new, :url => throw_food_games_food_fight_path do |f|
  = @foods.each do |food|
    = f.label :food
    = radio_button_tag :food_id, food.id
    = image_tag food.image.thumb('50x50#').url
 
  = f.label :school
  = select_tag :school_id, options_from_collection_for_select(School.all, :id, :to_s), :include_blank => true
  = f.submit 'Throw Food'
