%h2 Choose a School

= form_for FoodSchoolLink.new, :url => throw_food_games_food_fight_path do |f|
  #hover_value= hidden_field_tag :school_id
  =hidden_field_tag :food_id, params[:food_id]
  - if current_person.favorite_schools.present?
    %h4 Favorite Schools
    - current_person.favorite_schools.each do |school|
      %ul
        %div{:id => "#{school.id}", :class => "school_hover"}
          %li= school.name

  %h4 All Schools
  - (@schools - current_person.favorite_schools).each do |school|
    %ul
      %div{:id => "#{school.id}", :class => "school_hover"}
        %li= school.name
  = f.submit 'Throw Food'


:javascript
  $(".school_hover").hover(
    function() { $(this).addClass("hover"); },
    function() { $(this).removeClass("hover"); }
  );

  $(".school_hover").click( function() {
    $('.school_hover').removeClass("active");
    $(this).addClass("active").siblings().removeClass("active");
    var imageId = $(this).attr("id");
    $("input[id=school_id]").val(imageId)
  });

