.main-content-wrapper
  = render '/games/food_fights/head'
  .food-fight-question
    <style> em { text-decoration: underline; }</style>
    :markdown
      #{food_fight_play_command.question_body}
    = form_for food_fight_play_command do |f|
      = hidden_field_tag :person_id, params[:person_id]
      = hidden_field_tag :match_id, @match.id
      - if params[:action] == 'rematch'
        = hidden_field_tag :rematch, true
      %ul.answers
        - food_fight_play_command.answer_options.each do |answer|
          %li
            = f.radio_button :answer_id, answer.id
            = f.label :answer_id, answer, value: answer.id
      = f.hidden_field :question_id
      = submit_tag "Answer Question"
  = render 'question_statistics', question_statistics: question_statistics
