%h2 Food Fight

%ul
  %li= link_to "My Stats", "#", class: 'btn'
  %li= link_to "Throw Food", play_games_food_fight_path, class: 'btn'

%h3 Current Round: #{current_round}

%h4 Top players at your school
%ul.top-food-throwers
  - leaderboard.each do |row|
    %li #{row.person} - #{row.score}
