%h2 Food Fight

%ul
  %li= link_to "My Stats", "#", class: 'btn'
  %li= link_to "Find Opponent", challenge_opponent_games_food_fight_path, class: 'btn'

%h3 Active Matches
%h5 Your Turn
- current_person.food_fight_matches.each do |match|
  - if match.turn.person == current_person.person
    %ul
      %li= link_to match.player(current_person).opponent.person.name, continue_match_games_food_fight_path(match)
%h5 Their Turn
- current_person.food_fight_matches.each do |match|
  - if match.turn.person != current_person.person
    %ul
      %li= link_to match.player(current_person).opponent.person.name, continue_match_games_food_fight_path(match)


%h4 Wins
- current_person.food_fight_wins.each do |win|
  %ul
    %li= win.match.score

%h3 Current Round: #{current_round}

%h4 Top players at your school
%ul.top-food-throwers
  - leaderboard.each do |row|
    %li #{row.person} - #{row.score}
