.main-content-wrapper
  .primary-content-fw
    = render :partial => 'spree/shared/error_messages', :locals => { :target => @person } 

    %h1 Edit Your Profile
    = form_for @person,:url => person_path(@person) do |f|
      #hover_value= hidden_field_tag :avatar_id
      #avatar_partial= render :partial => 'avatars'
      .row
        .span4
          - if !current_person.is_a?(Student)
            = f.label :email
            = f.text_field :email
        - if !current_person.is_a?(Student)
          .span4
            = f.label :password
            = f.password_field :password
            = f.label :password_confirmation
            = f.password_field :password_confirmation
        - if current_person.is_a?(Teacher)
          = f.label :game_challengeable
          = f.check_box :game_challengeable, :value => @person.game_challengeable
 
      = f.submit t(:update), class: 'btn awesome-button'
      = link_to "Cancel", current_person, class: 'btn awesome-button'

    = javascript_include_tag "avatar_pager.js"
