.full-content

  %h2 Your Profile
  
  .first-name= @person.first_name + @person.last_name
  .user-name= @person.user.username
  .user-name= @person.user.email
  .moniker= @person.moniker
  .school= @person.school.name
  .current-person-avatar.supplemental-part=image_tag @person.avatar.image.url if @person.avatar
  
  .link
    = link_to "Update", edit_person_path(@person.id), class: 'btn awesome-button'
  
