.main-content-wrapper
  .primary-content
    %h4 My Credit Categories
    %p Click on a category to edit or delete it.
    .create-classroom.table.table-striped
      %table
        %thead
          %tr
            %th.categories-text{width: '100'} Type
            %th.categories-text{width: '100'} Category
            %th.categories-text{width: '100'} School wide?
            %th.categories-text{width: '100'} Delete
        %tbody
          - @categories.each do |category|
            %tr
              %td.type-name= category.otu_code_type.name
              %td= link_to category.name, '#', :onclick => 'set_category_form(this.id);return false;', :id => "#{category.id}", :class => 'cat-name'
              %td= category.school_wide? ? "✓" : "No"
              %td
                - if current_person.is_a?(SchoolAdmin) || !category.school_wide?
                  = link_to "Delete", teachers_otu_code_category_path(category), method: :delete, confirm: "Are you sure you want to delete this category?"
  .secondary-content
    .new-category-form
      = form_for @new_category, :url => new_teachers_otu_code_category_path do |f|
        .categories-text= f.label :type
        = f.select :otu_code_type_id, options_for_select(@types.map{|x| [x.name.capitalize, x.id]})
        .categories-text= f.label :category
        = f.text_field :name
        - if current_person.is_a?(SchoolAdmin)
          .categories-text= f.label "Scope"
          = f.select :person_id, options_for_select([["Just Me", current_person.id], ["School Wide", nil]])
        - else
          = f.hidden_field :person_id, value: current_person.id
        = hidden_field_tag :otu_code_category_id, nil, :id => 'hidden_category_id'
        = f.submit 'Add', class: 'btn awesome-button'

:javascript

  $(document).ready(function() {
    $('#new_otu_code_category').on('submit', function(e) {
      if ($('#otu_code_category_name').val() === "") {
        alert("You must provide a category name");
        e.preventDefault();
        return false;
      }
    });
  });

  function show_category_form() {
    $('.new-category-form').show();
  }

  function set_category_form(category_id){
    var category = 'category_id='+category_id;
    var url =  '/teachers/get_otu_code_category?'+category;

    $.ajax({
      url: url,
      type: 'GET',
      dataType: "json",
      success: function(data){
        load_edit_form_data(data);
      }
    });
  }

  function load_edit_form_data(data) {
    $('.new-category-form').show();
    $('#otu_code_category_otu_code_type_id').val(data.type.id);
    $('#hidden_category_id').val(data.category.id);
    $('#otu_code_category_name').val(data.category.name);
    $('#otu_code_category_person_id').val(data.category.person_id);
  }
