%h3 My Credit Categories
%p Click on a category to edit or delete it. Or
= link_to 'New Credit Category', '#', :class => 'btn awesome-button', :onclick => 'show_category_form();'

.new-category-main
  %table
    %thead
      %tr
        %th.categories-text{width: '100'} Type
        %th.categories-text{width: '100'} Category
    %tbody
      %tr
        - @categories.each do |category|
          %td.cat-text= category.otu_code_type.name
          %td.cat-text= link_to category.name, '#', :onclick => 'edit_category_form();', :id => "#{category.id}"

  .new-category-form
    = form_for @new_category, :url => new_teachers_otu_code_category_path do |f|
      .categories-text= f.label :type
      = f.select :otu_code_type_id, options_for_select(@types.map{|x| [x.name.capitalize, x.id]})
      .categories-text= f.label :category
      = f.text_field :name
      = f.hidden_field :person_id, value: current_person.id
      .cat_id= hidden_field_tag :otu_code_category_id
      = f.submit 'Add', class: 'btn awesome-button'

:javascript

  function show_category_form() {
    $('.new-category-form').show();
  }

  function edit_category_form() {
    category_id = this.id;
    get_category(category_id);
  }

  function get_category(category_id) {
    var category = 'student_id='+category_id;
    var url =  '/teachers/get_otu_code_category?'+category;

    $.ajax({
      url: url,
      type: 'GET',
      dataType: "json",
      success: function(data){
        load_edit_form_data(data)
      }
    });
  }

  function load_edit_form_data(data) {
    $('.new-category-form').show();
    $('.cat_id').value('test');
    $('#otu_code_category_name').text('test')
  }
