%h2= @teacher.name

= form_for admin_teacher_path, :method => 'put' do |f|
  = select_tag :school, options_for_select(School.all.map{|x| x.name}, :school), :include_blank => true
  = f.submit 'Add School'

%h4 Schools
%table
  %thead
    %tr
      %th School Name
      %th Remove
  %tbody
    - @teacher.schools.each do |school|
      %tr
        %td= link_to school.name, admin_school_path(school)
        %td= link_to 'Remove', admin_delete_teacher_school_link_path(:school => school, :teacher => @teacher)

%h4 Accounts
%table
  %thead
    %tr
      %th Name
      %th Balance
  %tbody
    - @teacher.accounts.each do |account|
      %tr
        %td= link_to account.name
        %td= account.balance


