= semantic_form_for [:admin, @student] do |f|
  - f.inputs "" do
    = f.input :first_name
    = f.input :last_name
    = f.input :dob
    = f.input :grade, :as => :range, :input_html => {:min => 0, :max => 12}
    = f.input :school, :collection => School.all.collect {|s| [s.name, s.id]}, :include_blank => true
    = f.actions
