%h3= student_name
= paginate otu_codes, :window => 2, :remote => true
%h4= credit_transactions_title(credit_type) 
%table.table.table-bordered
  %thead
    %tr
      %th.amount Type
      %th.amount Amount
      %th.date Date

  - otu_codes.each do |otu_code|
    %tr
      %td.amount.currency= otu_code.ebuck ? "e-credit" : "none"
      %td.amount.currency= number_with_precision(otu_code.points, :precision => 2)
      %td.date= credit_type == "total_credit" ? l(otu_code.created_at) : l(otu_code.updated_at)


