%h2 Parent Sign-Up

.parent-registration-form
  = form_for @parent, url: parents_registrations_path do |f|
    = f.label :first_name
    = f.text_field :first_name
    = f.label :last_name
    = f.text_field :last_name
    = fields_for :user do |user|
      = user.label :username
      = user.text_field :username
      = user.label :password
      = user.password_field :password
      = user.label :password_confirmation
      = user.password_field :password_confirmation
    %br/
    = f.submit
