%html.resp
  / <![endif]
  %head
    %title Learning Earnings
    = csrf_meta_tags
    %meta{:name => "viewport", :content => "width=device-width"}

    = javascript_include_tag 'svgweb/svg.js', "data-path" => "#{File.dirname(asset_path('svgweb/svg.js'))}", "data-htc-filename" => "#{File.basename(asset_path('svgweb/svg.htc'))}",  "data-swf-path" => "#{asset_path('svgweb/svg.swf')}"
    = javascript_include_tag 'application'
    = stylesheet_link_tag    'application', media: 'all'
    = stylesheet_link_tag 'admin/ie_noprint.css', media: 'print'
    - if current_user && current_user.person
      = stylesheet_link_tag current_user.person.type.downcase + '_background', media: 'all'
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8360883-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body.resp
    .resp-page-content-container
      .resp-head
        .messages-container
          = render "layouts/flashes"
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
        %br/
      .resp-content-container
        .resp-side-art
          .resp-side-art-students
            .main-content-wrapper
              .full-content
                .bank_content

                .distribute-credits
                  %h4 Issue Electronic Credits
                  %p.credits-available
                    %strong
                      Teacher:
                      = current_person.name
                    %br/
                    %strong
                      Credits Available:
                    = number_with_precision(current_person.main_account(current_school).balance, precision: 2, delimiter: ',')
                  = form_for OtuCode.new, :url => sti_create_ebucks_for_students_path do |f|
                    #classroom_distribution
                      %table.table
                        %thead
                          %tr
                            %th First Name
                            %th Last Name
                            %th Credits
                        %tbody
                          - @students.each do |student|
                            %tr
                              %td= student.first_name
                              %td= student.last_name
                              %td= text_field_tag "credits[#{student.id}]", nil, class: "classroom_student_points"
                      %input.awesome-button{type: "submit", name: "commit", value: "Send These Credits"}
