%h2= person.name

- unless person.district_guid.present?
  = form_for [:admin, person], :url => "add_school_admin_#{person.type.underscore}".to_sym, :method => 'post' do |f|
    = select_tag :school_id, options_for_select(School.order('schools.name asc').all.collect {|s| [s.name, s.id]}), :include_blank => true
    = f.submit (person.is_a?(Student) ? 'Change School' : 'Add School')

- if person.district_guid.present?
  = form_for [:admin, person], :url => toggle_school_admin_admin_school_admin_path(person), :method => :put do |f|
    = f.submit "#{person.is_a?(SchoolAdmin) ? "Make Teacher" : "Make School Admin"}"
%br/


%h2 Schools
%table
  %thead
    %tr
      %th School Name
      %th Remove
  %tbody
    - person.schools.each do |school|
      %tr
        %td= link_to school.name, admin_school_path(school)
        %td= link_to 'Remove', delete_school_admin_teacher_path(:school_id => school.id, :teacher => person), :method => :delete if person.district_guid.nil?


- person.schools.each do |school|
  %h2= school.name + " Accounts"
  %table
    %thead
      %tr
        %th Name
        %th Balance
        %th Credits
    %tbody
      - person.accounts(school).each do |account|
        %tr
          - if person.is_a?(Student)
            - if account.name.include? 'CHECKING'
              %td= link_to account.name, "/admin/checking_history/get_history/#{person.id}"
            - elsif account.name.include? 'SAVINGS'
              %td= link_to account.name, "/admin/savings_history/get_history/#{person.id}"
            - else
              %td= account.name
          - else
            %td= account.name
          %td= number_with_precision(account.balance, precision: 2, delimiter: ',')
          %td{:style => "width: 400px;"}
            - if person.is_a?(Teacher) && account.name == person.main_account_name(school)
              = form_for [:admin, person], :url => give_credits_admin_teacher_path, :method => 'post' do |f|
                = f.hidden_field :school_id, :value => school.id
                = text_field :credits,:amount, :style => "width: 30%;"
                = f.submit 'Update Credits'
            - elsif person.is_a?(Student) && account.name == person.checking_account_name
              = form_for [:admin, person], :url => give_credits_admin_student_path, :method => 'post' do |f|
                = text_field :credits,:amount, :style => "width: 30%;"
                = f.submit 'Update Credits'


