.main-content-wrapper
  .primary-content-fw
    %h1 Student Activity Report
    %h3= report.range if report.range
    = simple_form_for report.parameters,  :url => student_activity_report_path, method: :post, :html => {:class => 'form-horizontal noprint'} do |f|
      .filter
        .student-activity-date-filter
          = f.input :date_filter, :label => "Date Range", :collection => report.parameters.date_filter_options
        .classroom-filter
          = label_tag :classroom
          = select_tag :classroom_filter, options_from_collection_for_select(classrooms, :id, :name, params[:classroom_filter]), :prompt => "All"
      .sorting
        = f.input :sort_by,:label => "Sorting", :collection => report.parameters.sort_by_options
      = f.submit 'Go!', class: "btn awesome-button"
      = button_to "Print Report", '#', { class: "noprint btn awesome-button", onclick: 'window.print();return false;', method: :put }
    .report
      %table.table.table-bordered.table-striped.solid-background
        %thead
          %tr
            - report.header_strings.each do |header|
              %th= header
        %tbody
          - if report.data.count > 0
            - report.data_rows do |row|
              %tr
                - report.header_keys.each do |key|
                  %td{:class => report.data_classes[key]}= row.send(key)
          - else
            %tr
              %td{:colspan => report.header_keys.count} No Activity meets your date criteria above
