%h4.product= link_to auction.product.name, auction_path(auction)
= link_to small_image(auction.product, :itemprop => "image")

.header-info
  Starts At:
  %span.start_date= l(auction.start_date)
  %p
  Ends On:
  %span.end_date= l(auction.end_date)
  - if auction.current_bid
    %p
    Current Bid:
    %span.current_bid= number_with_precision(auction.current_bid, precision: 2)
  - if auction.current_leader.present?
    %p
    High Bidder:
    %span.current_bid= auction.current_leader.name
    - if auction.current_leader.avatar.present?
      = image_tag auction.current_leader.avatar.image.url

  - if auction.current_bid == 0.00
    %p
    Starting Bid:
    %span.current_bid= number_with_precision(auction.starting_bid, precision: 2)
- if current_person.is_a?(SchoolAdmin) && auction.created_locally?
  = link_to 'Cancel Auction', cancel_school_auction_path(auction)
