%h4.product= link_to auction.product.name, auction_path(auction)
.header-info
  Starts At:
  %span.start_date= l(auction.start_date)
  %p
  Ends On:
  %span.end_date= l(auction.end_date)
  %p
  Current Bid:
  %span.current_bid= auction.current_bid
  %p
  High Bidder:
  %span.current_bid= auction.current_leader.name
  = auction.current_leader.moniker if auction.current_leader.moniker.present?
  - if auction.current_leader.avatar.present?
    = image_tag auction.current_leader.avatar.image.url

  - if auction.current_bid == 0.00
    %p
    Starting Bid:
    %span.current_bid= auction.starting_bid
- if current_person.is_a?(SchoolAdmin) && auction.created_locally?
  = link_to 'Cancel Auction', cancel_school_auction_path(auction)
