%h4.product= link_to auction.product.name, auction_path(auction)
.header-info
  Starts At:
  %span.start_date= l(auction.start_date)
  %p
  Ends On:
  %span.end_date= l(auction.end_date)
  %p
  Current Bid:
  %span.current_bid= number_to_currency(auction.current_bid)
  - if auction.current_bid == 0.00
    %p
    Starting Bid:
    %span.current_bid= number_to_currency(auction.starting_bid)
