%h2 Create an Auction for your School

= semantic_form_for @auction do |f|
  = f.label :product
  = f.select :product_id, @products.map{|p| [p.name, p.id] }
  = f.label :start_date
  = f.text_field :start_date, :id => 'datepicker'
  = f.label :end_date
  = f.text_field :end_date, :id => 'datepicker2'
  = f.label :min_grade
  = f.select :min_grade, School::GRADES
  = f.label :max_grade
  = f.select :max_grade, School::GRADES
  %br
  = f.submit

:javascript
  $(function() {
    $('#datepicker').datepicker({
      dateFormat : 'yy-mm-dd'
    });
  });
  $(function() {
    $('#datepicker2').datepicker({
      dateFormat : 'yy-mm-dd'
    });
  });
