%h1 Rewards

= link_to "New Reward", new_reward_path
%p

%table.table
  %tr
    %th= "Image"
    %th= t(:name)
    %th= t(:master_price)
    %th= "Classroom"
    %th= "Actions"
  - @products.each do |product|
    %tr
      %td= image_tag product.images.first.attachment.url(:small), :itemprop => "image"
      %td= product.try(:name)
      %td= money(product.price) rescue ''
      %td
      %td
        = link_to "Edit", edit_reward_path(id: product.id), :class => 'edit' unless product.deleted?



