.main-content-wrapper
  .primary-content
    %h1= t('.title')

    .bank-account
      %h4= t('.subtitle')
      %dl.balance
        %dt Checking Balance
        %dd= number_with_precision(current_person.checking_balance, precision: 2, delimiter: ',')
      %dl.balance
        %dt Savings Balance
        %dd= number_with_precision(current_person.savings_balance, precision: 2, delimiter: ',')
      = link_to "Deposit Printed Codes", "#enter-codes-modal", {:class => 'modal-button btn awesome-button', 'data-toggle' => 'modal'}
      .actions
        = link_to "Transfer Credits", "#transfer-credits-modal", class: 'btn awesome-button', 'data-toggle' => 'modal'
        = link_to "View Checking History", "#checking-history-modal", class: 'btn awesome-button', 'data-toggle' => 'modal'
        = link_to "View Savings History", "#savings-history-modal", class: 'btn awesome-button', 'data-toggle' => 'modal'

    .pending-credits.1
      %h4 e-Credits to Deposit
      %table.table.table-bordered.solid-background
        %thead
          %tr
            %th Source
            %th Date
            %th Reason
            %th{ colspan: 99 } Amount
        %tbody
          - @unredeemed_bucks.each do |buck|
            %tr
              %td= buck.source_string
              %td= buck.created_at.strftime("%m-%d-%Y %I:%M %P")
              %td= buck.otu_code_category ? buck.otu_code_category.name : "N/A"
              %td= number_with_precision(buck.points, precision: 2, delimiter: ',')
              %td= link_to("Deposit e-Credit", redeem_buck_path(current_person.id, buck.code), class: 'btn awesome-button') rescue 'error because no buck code...'
      .actions

  .secondary-content
    = render_reward_highlights(@products[0..3])

#transfer-credits-modal.modal.hide
  = render 'transfer_credits'

#checking-history-modal.modal.hide
  %h3 Checking History

  #checking-history
    = render 'checking_ledger_table', amounts: @recent_checking_amounts

#savings-history-modal.modal.hide
  %h3 Savings History

  #savings-history
    = render 'savings_ledger_table', amounts: @recent_savings_amounts

#enter-codes-modal.modal.hide
  %h3 Enter Codes
  .enter_codes_content
    .span6
      = form_for OtuCode.new, :url => redeem_bucks_path do |f|
        = label_tag "Enter Code:"
        = text_field_tag :code
        = f.submit 'Redeem', class: 'btn awesome-button'
    .span6
      %dl.balance
        %dt Checking Balance
        %dd= number_with_precision(current_person.checking_balance, :precision => 2)
      %dl.balance    
 
        %dt Savings Balance
        %dd= number_with_precision(current_person.savings_balance, :precision => 2)

= javascript_include_tag 'transaction_pager'
= javascript_include_tag "tours/student/overview"

:javascript
  if (hopscotch.getState() !== null &&  (localStorage.getItem('tour:shouldStartTour') == 'Y' )) {
    var tour = window[hopscotch.getState().split(":")[0]];
    hopscotch.startTour(tour);
  }

  $('#enter-codes-modal').on('shown.bs.modal', function() {
    $('#code').focus();
  });
  
  $('a:contains("Deposit e-Credit")').click( function(event) {
    if (this.clicked) {
      return false;
    }
    else {
      this.clicked = true
    }
    return true;
  });
  
  $(':submit').click( function(event) {
    if (this.clicked) {
      return false;
    }
    else {
      this.clicked = true
    }
    return true;
  });
