.row
  .bank_content
    .span6
      %h2 My Bank

      .bank-account
        %h4 My Account
        .balances
          %p Checking Balance: #{current_person.checking_balance}
          %p Savings Balance: #{current_person.savings_balance}
        .actions
          = link_to "Transfer Credits", "#transfer-credits-modal", class: 'btn', 'data-toggle' => 'modal'
          = link_to "View Checking History", "#checking-history-modal", class: 'btn', 'data-toggle' => 'modal'
          = link_to "View Savings History", "#savings-history-modal", class: 'btn', 'data-toggle' => 'modal'

      .pending-credits
        %h4 Pending Credits
        %table.table.table-bordered.solid-background
          %thead
            %tr
              %th Source
              %th Date
              %th{ colspan: 99 } Amount
          %tbody
            - @unredeemed_bucks.each do |buck|
              %tr
                %td= buck.source_string
                %td= buck.created_at.to_s(:db)
                %td= number_to_currency(buck.points)
                %td= link_to("Claim Credits", redeem_buck_path(current_person.id, buck.code), class: 'btn') rescue 'error because no buck code...'
        .actions
          = link_to "Enter Codes", "#enter-codes-modal", class: 'btn', 'data-toggle' => 'modal'

    .span4
      = render_reward_highlights(@products[0..3])

  #transfer-credits-modal.modal.hide
    = render 'transfer_credits'

  #checking-history-modal.modal.hide
    %h3 Checking History

    #checking-history
      = render 'ledger_table', amounts: @recent_checking_amounts

  #savings-history-modal.modal.hide
    %h3 Savings History

    #savings-history
      = render 'ledger_table', amounts: @recent_savings_amounts

  #enter-codes-modal.modal.hide
    %h3 Enter Codes
    .row
      .span3
        = form_for OtuCode.new, :url => redeem_bucks_path do |f|
          = label_tag "Enter Code:"
          = text_field_tag :code
          = f.submit 'Redeem'
      .span2
 
        %h5 Checking Balance
        %strong #{current_person.checking_balance}
        %h5 Savings Balance
        %strong #{current_person.savings_balance}

= javascript_include_tag 'transaction_pager'
