%h2 My Bank Header

.row
  .span8
    %p= lipsum 200

    .bank-account
      %h4 My Account
      .balances
        %p Checking Balance: #{current_person.checking_balance}
        %p Savings Balance: #{current_person.savings_balance}
      .actions
        = link_to "Transfer Credits", "#transfer-credits-modal", class: 'btn', 'data-toggle' => 'modal'
    = link_to "View Checking History", "#checking-history-modal", class: 'btn', 'data-toggle' => 'modal'
    = link_to "View Savings History", "#savings-history-modal", class: 'btn', 'data-toggle' => 'modal'
    = link_to "View Credit History", "#credit-history-modal", class: 'btn', 'data-toggle' => 'modal'
    .pending-credits
      %h4 Pending Credits
      %table.table.table-bordered.solid-background
        %thead
          %tr
            %th Source
            %th Date
            %th{ colspan: 99 } Amount
        %tbody
          - @unredeemed_bucks.each do |buck|
            %tr
              %td Need to figure out how to get the source here...
              %td= buck.created_at.to_s(:db)
              %td= number_to_currency(buck.points)
              %td= link_to "Claim Credits", redeem_buck_path(current_person.id, buck.code), class: 'btn'
      .actions
        = link_to "Enter Codes", "#enter-codes-modal", class: 'btn', 'data-toggle' => 'modal'
  .span4
    %h3 Rewards Highlights
    .row
      .span1
        .image-placeholder
      .span3
        %p= lipsum 100
        %strong Cost: $3,000
    %hr
    .row
      .span1
        .image-placeholder
      .span3
        %p= lipsum 100
        %strong Cost: $3,000
    %hr
    .row
      .span1
        .image-placeholder
      .span3
        %p= lipsum 100
        %strong Cost: $3,000
    %hr
    .row
      .span1
        .image-placeholder
      .span3
        %p= lipsum 100
        %strong Cost: $3,000
    %hr
    = link_to "Redeem Credits", "#", class: 'btn'

#transfer-credits-modal.modal.hide
  = render 'transfer_credits'

#checking-history-modal.modal.hide
  %h3 Checking History
  %p= lipsum 100

  %table.table.table-bordered
    %thead
      %tr
        %th Source
        %th Date
        %th Amount
    - if @recent_account_amounts.present?
      - @recent_checking_amounts.each do |amount|
        %tr
          // FIXME: This view is horrible, refactor
          %td= amount.transaction.description
          %td= amount.transaction.created_at.to_s(:db)
          %td= number_to_currency(amount.amount)

#savings-history-modal.modal.hide
  %h3 Savings History
  %p= lipsum 100
  .image-placeholder
    Savings Account Ledger Paginated

#credit-history-modal.modal.hide
  %h3 Credit History
  %p= lipsum 100
  .image-placeholder
    Credit Ledger Paginated

#enter-codes-modal.modal.hide
  %h3 Enter Codes
  %p= lipsum 150
  .row
    .span3
      = form_for OtuCode.new, :url => redeem_bucks_path do |f|
        = label_tag "Enter Code:"
        = text_field_tag :code
        = f.submit 'Redeem'
    .span2
 
      %h5 Checking Balance
      %strong #{current_person.checking_balance}
      %h5 Savings Balance
      %strong #{current_person.savings_balance}
