.side-art-teachers
.reward-content{ "data-hook" => "product_show", itemscope: true, itemtype: "http://schema.org/Product" }
  - @body_id = 'product-details'
  
  .product-item
    .product-image{"data-hook" => "product_left_part"}
      %div{ "data-hook" => "product_left_part_wrap" }
        #product-images{"data-hook" => "product_images" }
          #main-image
            = render :partial => 'image'
          #thumbnails
            = render :partial => 'thumbnails', :locals => { :product => @product }

    .product-meta{ "data-hook" => "product_right_part" }
      %div{ "data-hook" => "product_right_part_wrap" }
        #product-description{ "data-hook" => "product_description" }
          %h1.product-title{ itemprop: "name" }= accurate_title

          %div{ "itemprop" => "description", "data-hook" => "description" }
            = product_description(@product) rescue t(:product_has_no_description)

          #cart-form{ "data-hook" => "cart_form" }
            = render :partial => 'cart_form'

        = render :partial => 'taxons'
