.main-content-wrapper
  .primary-content
    .reward-content{ "data-hook" => "product_show", itemscope: true, itemtype: "http://schema.org/Product" }
      - @body_id = 'product-details'

      .product-item
        %h1.product-title{itemprop: "name"}
          = accurate_title
        .product-image{"data-hook" => "product_left_part"}
          %div{ "data-hook" => "product_left_part_wrap" }
            #product-images{"data-hook" => "product_images" }
              #main-image
                =product_image(@product, :itemprop => "image")
              #thumbnails
                = render :partial => 'thumbnails', :locals => { :product => @product }

        .product-meta{ "data-hook" => "product_right_part" }
          %div{ "data-hook" => "product_right_part_wrap" }
            #product-description{ "data-hook" => "product_description" }
              %div{ "itemprop" => "description", "data-hook" => "description" }
                = @product.description || t(:product_has_no_description)
              - if current_school && current_person && (actual_subdomain == current_school.store_subdomain && current_person.is_a?(Student)) || (actual_subdomain == 'le' && current_person.is_a?(SchoolAdmin))
                #cart-form{ "data-hook" => "cart_form" }
                  = render :partial => 'cart_form'
              - else
                - if @product.price
                  %div{ "data-hook" => "product_price", class: "columns five #{@product.has_variants? ? 'omega' : 'alpha'}" }
                    #product-price
                      %h6.product-section-title= t(:price)
                      %div
                        %span.price.selling{ itemprop:"price" }= number_with_precision(@product.price, precision: 2, delimiter: ',')
                %p= t(:school_store_is_for_students, school: current_school_name)
 
