.filter_widget
  =form_tag :class => "form-horizontal" do
    .control-group
      .controls
        = link_to "Select State", "#", :class => "btn", "data-toggle" => "modal", "data-target" => "#filter_widget_state_selector"
    .control-group
      .controls
        = link_to "Select Schools", "#", :class => "btn"
    .control-group
      .controls
        = link_to "Select Classrooms", "#", :class => "btn"
    .control-group
      %label.control-label Minimum Grade
      .controls
        = select_tag "min_grade", options_for_select(School::GRADES)
      %label.control-label Maximum Grade
      .controls
        = select_tag "max_grade", options_for_select(School::GRADES)
    .control-group
      .controls
        = link_to "Select User Types", "#", :class => "btn"
=render "shared/state_selector"

:javascript
  $(document).ready(function() {
    $('.filter_widget_state_checkbox').live('click', add_state);
    $('#filter_widget_state_selector_state_list').attr('data-state-list', JSON.stringify([]));
  })

  function add_state(state_obj) {
    state_list = JSON.parse($('#filter_widget_state_selector_state_list').attr('data-state-list'));
    picked_state_name = $(this).val();
    if ($.inArray(picked_state_name, state_list) > -1) { //They had already picked this state
      state_list = $.removeFromArray(picked_state_name, state_list);
    } else { //They haven't picked this state yet
      state_list.push(picked_state_name);
    }
    $('#filter_widget_state_selector_state_list').attr('data-state-list', JSON.stringify(state_list));
    update_states_list();
  }

  function update_states_list() {
    state_list = JSON.parse($('#filter_widget_state_selector_state_list').attr('data-state-list'));
    $('#filter_widget_state_selector_state_list').html(state_list.join(','));
  }
  //Define removeFromArray
  jQuery.removeFromArray = function(value, arr) {
    return jQuery.grep(arr, function(elem, index) {
      return elem !== value;
    });
  };

