.main-content-wrapper
  %h1
  .student-logged-in-content
    .bacon-small
    .corkboard
      .whats-new
        - if current_school.name == 'STI'
          .welcome-sticky
            .welcome-callout
              .king_font_welcome DON'T FORGET TO PICK-UP YOUR REWARDS BY:
              .sketch_font_welcome
   
                1:15 pm on
                %br/
                DAY 2 of the SEMINAR
        - else
          = @whats_new.body.html_safe
  .student-logged-in-sidebar
    = render_reward_highlights(@products[0..1])
    .our-sponsors
   
      - if current_school.name == 'STI'
        .king_font_thanks
          THANK YOU TO ALL OF OUR WONDERFUL SPONSORS AND SEMINAR PARTICIPANTS!
          %br/
          %br/
          WE HOPE YOU HAVE A GREAT TIME!
      - else
        = @our_sponsor.body.html_safe
      .our-sponsors-callout
        .our-sponsors-callout-content
          = @our_sponsor_callout.body.html_safe
    - if Poll.active.present?
      .poll
        %h2 Polls 
        = link_to 'View All Polls', polls_path
        - if @poll
          %h5= @poll.question
          = form_for Vote.new do |f|
            - @poll.poll_choices.each do |choice|
              = hidden_field_tag :poll_id, @poll.id
              = f.label choice.choice
              = f.radio_button(:poll_choice_id, choice.id)
              = "#{choice.votes.count} Votes"
            %br
            = f.submit 'Vote'
  
   
  = javascript_include_tag "tours/student/overview"
  
  :javascript
    localStorage.setItem('tour:shouldStartTour','N');
    hopscotch.endTour();
    
  - if params[:tour] == "Y" or first_time_logged_in
    :javascript
      localStorage.setItem('tour:shouldStartTour','Y');
      
  :javascript
    if (localStorage.getItem('tour:shouldStartTour') == 'Y') {  
      hopscotch.startTour(student_overview);
    }
