.student-logged-in-content
  .bacon-small
  .corkboard
    .whats-new
      - if current_school.name == 'STI'
        .welcome-sticky
          Welcome to the LE experience!  LE is an easy and effective way for classroom teachers to motivate students with proven results.
          %br
          %br
          .welcome-callout
            Don't forget to pick-up your rewards by Thursday at 4pm at the 
            %strong LE Store in Magnolia 4.
      - else
        = @whats_new.body.html_safe
    .featured-activity
      - if current_school.name == 'STI'
        = "Banquet is at 7pm on Thursday.  You have been invited to dinner!  Bring your sleuthing skills to uncover the crime during a night of mystery solving."
      - else
        = @featured_activity.body.html_safe
    .featured-activity-callout
      = @featured_activity_callout.body.html_safe
  .honor-roll
    .honor-roll-content
      - cache(Time.now.strftime("school-#{current_school.id}-honor-roll-%m%d%y-%p")) do
        - honor_roll = HonorRoll.new(current_school, 7.days.ago.beginning_of_day, Date.today.end_of_day)
        - charity_donations = honor_roll.charity_purchases_per_person(3)
        %h4 Most Credits Donated to Charity
        %ol
          - charity_donations.each do |person, amount|
            %li #{person} [#{number_to_bucks amount}]

      - cache(Time.now.strftime("school-#{current_school.id}-honor-roll-deposits%m%d%y-%p")) do
        %h4 Most Credits Deposited
        %ol
          - HonorRollDeposit.all.each do |deposit|
            %li #{deposit.student.name} [#{number_to_bucks deposit.amount}]


.student-logged-in-sidebar
  = render_reward_highlights(@products[0..1])
  .our-sponsors
    - if current_school.name == 'STI'
      = "STI thanks our sponsors for their support throughout our User Conference:"
      %br/
      %br/
      .sponsor-list
        %strong= "Howard Technology Solution"
      .sponsor-list
        %strong= "infosnap"
      .sponsor-list
        %strong= "Schoolmessenger"
      .sponsor-list
        %strong= "TSA"
    - else
      = @our_sponsor.body.html_safe
    .our-sponsors-callout
      .our-sponsors-callout-content
        = @our_sponsor_callout.body.html_safe
  - if Poll.active.present?
    .poll
      %h2 Polls
      %h6= link_to 'View All Polls', polls_path
      - if @poll
        %h5= @poll.question
        = form_for Vote.new do |f|
          - @poll.poll_choices.each do |choice|
            = hidden_field_tag :poll_id, @poll.id
            = f.label choice.choice
            = f.radio_button(:poll_choice_id, choice.id)
            = "#{choice.votes.count} Votes"
          %br
          = f.submit 'Vote'
