.student-logged-in-content
  .bacon-small
  .corkboard
    .whats-new
      = @whats_new.body.html_safe
    .featured-activity
      = @featured_activity.body.html_safe
    .featured-activity-callout
      = @featured_activity_callout.body.html_safe
  .honor-roll
.student-logged-in-sidebar
  = render_reward_highlights(@products[0..1])
  .our-sponsors
    = @our_sponsor.body.html_safe
    .our-sponsors-callout
      .our-sponsors-callout-content
        = @our_sponsor_callout.body.html_safe
  .poll
    %h6= link_to 'All Polls', polls_path
    %h5= @poll.question
    = form_for Vote.new do |f|
      - @poll.poll_choices.each do |choice|
        = hidden_field_tag :poll_id, @poll.id
        = f.label choice.choice
        = f.radio_button(:poll_choice_id, choice.id)
        = "#{choice.votes.count} Votes"
      %br
      = f.submit 'Vote'
