.main-content-wrapper
  .primary-content
    .news-header
      %h1 News

    .row
      .news-items-container
        .span6
          - posts.each do |post|
            .news-item.row
              .span6
                %h3
                  = post.title
                  .post_date= human_date post.created_at
                = post.body.html_safe
  .secondary-content
    .press-releases-container
      %h2 Press Releases
      .press-releases
        - press_releases.each do |post|
          .press-release.row
            .span3
              %h3
                = post.title
                .post_date= human_date post.created_at
              = post.body.html_safe
