.row.play-header-container
  .span10
    %h2= t('.title')

    .games-image-container
      .games-image

.games.row
  .span6
    .game.row
      .span2
        .image-placeholder
          image
      .span4
        %h4= t('.auction_title')
        %p
          = t('.auction_desc')
          = link_to "Play Now", auctions_path, class: 'btn awesome-button'
    .game.row
      .span2
        .image-placeholder
          image
      .span4
        %h4= t('.ff_title')
        %p
          = t('.ff_desc')
          = link_to "Play Now", games_food_fight_path, class: 'btn awesome-button'
    .game.row
      .span2
        .image-placeholder
          image
      .span4
        %h4= t('.nm_title')
        %p
          = t('.nm_desc')
          = link_to "Play Now", "#", class: 'btn awesome-button'

  .span4
    = render_reward_highlights(@products[0..1])
    %h3= link_to('Suggest a Game', leadmin_message_path(subject: "I have a game suggestion!", refurl: current_url))
