.row.play-header-container
  .span10
    %h2 Play

    .games-image-container
      .games-image
      

    %h3 Auction
    %p= lipsum
    = link_to "Play Now", auctions_path, class: 'btn'

.games.row
  .span6
    .game.row
      .span2
        .image-placeholder
          image
      .span4
        %h4 Food Fight
        %p Answer questions, throw food, win credits!
        = link_to "Play Now", games_food_fight_path, class: 'btn'
    .game.row
      .span2
        .image-placeholder
          image
      .span4
        %h4 Number Muncher
        %p= lipsum(200)
        = link_to "Play Now", "#", class: 'btn'

  .span4
    = render_reward_highlights(@products[0..1])
    %h3= link_to('Suggest a Game', admin_message_path(subject: "I have a game suggestion!"))
