= javascript_include_tag "https:////code.jquery.com/jquery-1.10.2.js"
= javascript_include_tag "https://code.jquery.com/ui/1.11.4/jquery-ui.js"
= stylesheet_link_tag "https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"

.main-content-wrapper
  .primary-content
    %h2 Welcome to LE!
    %p We are excited to have you join the LE team! Go ahead and run through our guided tour to quickly get your classroom setup. If you need anything at all, please don't hesitate to let us know!



  .secondary-content
    %h3 Announcements
    %p LE launches motivational classroom tool! 
    - @new_features.each do |release_note|
      %h4= link_to(release_note.title, "/help##{release_note.type}-#{release_note.id}")
    %br/
    %h3 Just starting LE?
    %p Feel free to restart our guided tour by going to the Help page or check out our FAQs section. 
    %br/

    %h3 Need help?
    = link_to 'Send Message', teachers_leadmin_message_path, :class => 'btn awesome-button'
      
- if needs_email?
  %div#request_email
    %h3  First a little housekeeping...
    We haven't asked you for your email address yet.  Please enter it below and then verify it by clicking on the link we email you.
    This helps us identify who's really a teacher and anyone impresonnating a teacher and trying to register for an account!
    %div
      %div.campaign_left{style: "width:220px;text-align:right;margin-right:10px;"}
        %img#pig_arm_out{:src => "/assets/campaign/email_pig_arm_out.png", :style => "float:right;"}
      %div.campaign_right{style: "width:360px"}
        = bootstrap_form_for @teacher_email_form, :url => "/teachers/save" do |f|
          .row
            .span4
              = f.text_field :email, :label => "Email Address:"
              = f.hidden_field :person_id, value: current_person.id
              = f.submit 'Submit', class: 'btn awesome-button'
    %div{ :style => "width:100%;text-align:right;float:right;"}
      <a href="/teachers/home/defer_email" class="fb-link" style="color:#0088cc">Not now</a>
       
  :javascript
    $("#request_email").dialog({
      dialogClass: 'no_title',
      autoOpen: true,
      modal: true,
      width: 640
    });  
    $(".fb-link").click(function() {
        $("#request_email").dialog("close");
    });     
    
= javascript_include_tag "tours/school_admin/overview"
= javascript_include_tag "tours/teacher/overview"




:javascript
  localStorage.setItem('tour:shouldStartTour','N');
  hopscotch.endTour();
  
- if should_start_tour
  :javascript
    localStorage.setItem('tour:shouldStartTour','Y');
       
- if current_person.is_a?(SchoolAdmin)
  :javascript
    if (localStorage.getItem('tour:shouldStartTour') == 'Y') {
        hopscotch.startTour(school_admin_overview);
    }
 
- if current_person.is_a?(Teacher)
  :javascript
    if (localStorage.getItem('tour:shouldStartTour') == 'Y') {    
      hopscotch.startTour(teacher_overview)
    }
