= javascript_include_tag "https:////code.jquery.com/jquery-1.10.2.js"
= javascript_include_tag "https://code.jquery.com/ui/1.11.4/jquery-ui.js"
= stylesheet_link_tag "https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"

.main-content-wrapper
  .primary-content
    %h1 Welcome to LE!
    %p We are excited to have you join the LE team! Go ahead and run through our guided tour to quickly get your classroom setup. If you need anything at all, please don't hesitate to let us know!



  .secondary-content
    %h3 Announcements
    %p LE launches motivational classroom tool! 
    %br/
    %h3 Just starting LE?
    %p Feel free to restart our guided tour by going to the Help page or check out our FAQs section. 
    %br/

    %h3 Need help?
    = link_to 'Send Message', teachers_leadmin_message_path, :class => 'btn awesome-button'   

= javascript_include_tag "tours/school_admin/overview"
= javascript_include_tag "tours/teacher/overview"




:javascript
  localStorage.setItem('tour:shouldStartTour','N');
  hopscotch.endTour();
  
- if should_start_tour
  :javascript
    localStorage.setItem('tour:shouldStartTour','Y');
       
- if current_person.is_a?(SchoolAdmin)
  :javascript
    if (localStorage.getItem('tour:shouldStartTour') == 'Y') {
        hopscotch.startTour(school_admin_overview);
    }
 
- if current_person.is_a?(Teacher)
  :javascript
    if (localStorage.getItem('tour:shouldStartTour') == 'Y') {    
      hopscotch.startTour(teacher_overview)
    }
