.row.content
  .side-art-teachers
  .bacon
  .white-board
    %ul.how-it-works-nav
      %li
        %span= link_to "Intro", "#", class:'someclass'
      %li
        %span= link_to "Register", "#", class:'someclass'
      %li
        %span= link_to "Earn", "#", class:'someclass'
      %li
        %span= link_to "Enter", "#", class:'someclass'
      %li
        %span= link_to "Buy", "#", class:'someclass'
      %li
        %span= link_to "Receive", "#", class:'someclass'



  .sir-francis-bacon
  %ul.stickies-nav.how-it-works
    %li
      %span= link_to "", "#", class: 'btn parents-stickie stickies_nav-parents_orange_nav_stickie'
    %li
      %span= link_to "", "#", class: 'btn teachers-stickie stickies_nav-teachers_blue_nav_stickie'