.row.content.how-it-works
  .side-art-teachers
  .bacon
  .white-board
  .intro-slide
  .register-slide
  .earn-slide
  .enter-slide
  .buy-slide
  .receive-slide
  %ul.how-it-works-nav
    %li
      %span= link_to "Intro", "#", class:'intro'
    %li
      %span= link_to "Register", "#", class:'register'
    %li
      %span= link_to "Earn", "#", class:'earn'
    %li
      %span= link_to "Enter", "#", class:'enter'
    %li
      %span= link_to "Buy", "#", class:'buy'
    %li
      %span= link_to "Receive", "#", class:'receive'



  .sir-francis-bacon
  %ul.stickies-nav.how-it-works
    %li
      %span= link_to "", "#", class: 'btn parents-stickie stickies_nav-parents_orange_nav_stickie'
    %li
      %span= link_to "", "#", class: 'btn teachers-stickie stickies_nav-teachers_blue_nav_stickie'