.content-container
  .side-art
    .side-art-teachers
  .main-content-wrapper
    .row
      .span8
        .news-header
          %h2 News Header
          %p= lipsum
    
    .primary-content
      .news-item
        %h4 New Headline
        %p= lipsum(500)
        %p= lipsum(400)
        %p= lipsum(200)
      .news-item
        %h4 New Headline
        %p= lipsum(200)
        %p= lipsum(300)
    .secondary-content      
      .press-releases-container
        %h3 Press Releases
        .press-releases
          .press-release.row
            .span1
              .image-placeholder
                Image
            .span2
              %h4 Title
              %p= lipsum(100)
          .press-release.row
            .span1
              .image-placeholder
                Image
            .span2
              %h4 Title
              %p= lipsum(100)
          .press-release.row
            .span1
              .image-placeholder
                Image
            .span2
              %h4 Title
              %p= lipsum(100)
