%h2 My Locker Header

.row
  .span12
    .primary-image
      Customized Student Locker

= link_to 'Decorate My Locker', '#', class: 'btn decorate-locker'
= link_to 'Share My Locker', '#share-locker-modal', class: 'btn share-locker', "data-toggle" => 'modal'
= link_to "Visit My Friend's Locker", '#visit-locker-modal', class: 'btn visit-locker', "data-toggle" => 'modal'

#share-locker-modal.modal
  %h3 Share Header
  %p= lipsum
  %strong Pick Your Friends:
  .image-placeholder
    Paginated Friend List
  = link_to "Share", "#", class: 'btn btn-primary'

#visit-locker-modal.modal
  %h3 Visit Locker Header
  %p= lipsum
  %strong Pick The Friend's Locker:
  .image-placeholder
    Paginated Friend List
  = link_to "Visit", "#", class: 'btn btn-primary'
