.content-container
  .side-art
    .side-art-teachers
  .main-content-wrapper
    .primary-content

      %h2 Charities
      - if current_user.person.charities.present?
        - current_user.person.charities.each do |item|
          - if item.product.name && item.product.svg && item.product.svg.path
            = open(item.product.svg.path).read.gsub(/(name_val)/, current_person.name).gsub(/(school_val)/, current_school.name).html_safe
          - else
            %p
              You bought
              %em= item.product.name
              for
              %em= number_to_currency(item.product.price)
              on
              %em= I18n.l item.created_at
              \.  Thanks for all you do!
            %p
      - else
        %center
          %h4
            Please visit
            = link_to "Rewards", Spree::Core::Engine.routes.url_helpers.root_url(host: request.host,port: request.port,subdomain: current_school.store_subdomain)
            to purchase a Charity support certificate.
