%h2 My Inbox Header

%p
  Lipsum

#inbox-accordion.accordion.inbox
  .accordion-group
    .accordion-heading
      = link_to 'Friend Messages (2)', '#friend-messages', class: 'accordion-toggle', 'data-parent' => '#inbox-accordion', 'data-toggle' => 'collapse'
    #friend-messages.accordion-body.collapse.in
      .accordion-inner
        .message
          .image= image_tag("http://placekitten.com/50/50")
          .content
            Lipsum
        .message
          .image= image_tag("http://placekitten.com/50/50")
          .content
            Lipsum
  .accordion-group
    .accordion-heading
      = link_to 'School Messages (2)', '#school-messages', class: 'accordion-toggle', 'data-parent' => '#inbox-accordion', 'data-toggle' => 'collapse'
    #school-messages.accordion-body.collapse
      .accordion-inner
        .message
          .image= image_tag("http://placekitten.com/50/50")
          .content
            Lipsum
        .message
          .image= image_tag("http://placekitten.com/50/50")
          .content
            Lipsum
  .accordion-group
    .accordion-heading
      = link_to 'Teacher Messages (0)', '#teacher-messages', class: 'accordion-toggle', 'data-parent' => '#inbox-accordion', 'data-toggle' => 'collapse'
    #teacher-messages.accordion-body.collapse
      .accordion-inner
        .message
          .image= image_tag("http://placekitten.com/50/50")
          .content
            Lipsum
        .message
          .image= image_tag("http://placekitten.com/50/50")
          .content
            Lipsum
  .accordion-group
    .accordion-heading
      = link_to 'System Messages (0)', '#system-messages', class: 'accordion-toggle', 'data-parent' => '#inbox-accordion', 'data-toggle' => 'collapse'
    #system-messages.accordion-body.collapse
      .accordion-inner
        .message
          .image= image_tag("http://placekitten.com/50/50")
          .content
            Lipsum
        .message
          .image= image_tag("http://placekitten.com/50/50")
          .content
            Lipsum

= link_to "Send a message", '#', class: 'btn'
