%h2 News Header
%p= lipsum

.news.row
  .span8
    .news-item.row
      .span2
        .image-placeholder
          Image
      .span6
        %h4 New Headline
        %p= lipsum(500)
        %p= lipsum(400)
        %p= lipsum(200)
    .news-item.row
      .span2
        .image-placeholder
          Image
      .span6
        %h4 New Headline
        %p= lipsum(200)
        %p= lipsum(300)
  .span4
    %h3 Press Releases
    .press-releases
      .press-release.row
        .span1
          .image-placeholder
            Image
        .span3
          %h4 Title
          %p= lipsum(100)
      .press-release.row
        .span1
          .image-placeholder
            Image
        .span3
          %h4 Title
          %p= lipsum(100)
      .press-release.row
        .span1
          .image-placeholder
            Image
        .span3
          %h4 Title
          %p= lipsum(100)
