.bacon-smiling-intro
.white-board
.intro-slide
.register-slide
.earn-slide
.enter-slide
.buy-slide
.receive-slide
%ul.how-nav.non-resp
  %li
    %span= link_to "Intro", "#", class:'intro'
  %li
    %span= link_to "Register", "#", class:'register'
  %li
    %span= link_to "Earn", "#", class:'earn'
  %li
    %span= link_to "Enter", "#", class:'enter'
  %li
    %span= link_to "Buy", "#", class:'buy'
  %li
    %span= link_to "Receive", "#", class:'receive'
