.side-art-teachers
.bacon
.white-board
.testimonial
  %p Testimonials
%ul.how-nav
  %li
    %span= link_to "One", "#", class:'One'
  %li
    %span= link_to "Two", "#", class:'Two'
  %li
    %span= link_to "Three", "#", class:'Three'
  %li
    %span= link_to "Four", "#", class:'Four'
  %li
    %span= link_to "Five", "#", class:'Five'
  %li
    %span= link_to "Six", "#", class:'Six'

.sir-francis-bacon