.sir-francis-bacon-how-it-works-teachers
.intro-text
.white-board
  = link_to "", new_teachers_path, class: 'join-now-how-it-works-teachers'
  .attention-teachers
  .step1-slide
  .step2-slide
  .step3-slide
  .step4-slide
%ul.how-nav.non-resp
  %li
    %span= link_to "Attention", "#", class:'attention'
  %li
    %span= link_to "Step 1", "#", class:'step-1'
  %li
    %span= link_to "Step 2", "#", class:'step-2'
  %li
    %span= link_to "Step 3", "#", class:'step-3'
  %li
    %span= link_to "Step 4", "#", class:'step-4'
