.bacon
.corkboard
  .rewards-intro
    %ul
      - Spree::Product.visible_to_all.each do |product|
        - if product
          - if Spree::Config[:show_zero_stock_products] || product.has_stock?
            %li{:class => "product-tile", "data-hook" => "products_list_item", :id => "product_#{product.id}", :itemscope => "", :itemtype => "http://schema.org/Product"}
              .product-image
                = link_to small_image(product, :itemprop => "image"), spree.product_path(product), :itemprop => 'url'
              .product-details
                = link_to truncate("#{product.name}", :length => 50), spree.product_path(product), :class => 'info', :itemprop => "name", :title => product.name
                .price.selling{:itemprop => "price"}= product.price
                .quantity{:itemprop => "on_hand"}= product.on_hand.to_s + " available"


.rewards-highlights-small
.reward-of-the-week

.nav-container-corkboard
  %ul.stickies-nav
    %li
      %span= link_to "", '#', class: 'students-stickie stickies_nav-students_green_nav_stickie active'
    %li
      %span= link_to "", parent_page_path("not_logged_in_rewards"), class: 'parents-stickie stickies_nav-parents_orange_nav_stickie'
    %li
      %span= link_to "", teacher_page_path("not_logged_in_rewards"), class: 'teachers-stickie stickies_nav-teachers_blue_nav_stickie'
