= javascript_include_tag "https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"
= stylesheet_link_tag "https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css"
.main-content-wrapper
  .primary-content-fw

    - if report.state == "complete"
      %h1 Purchases Report
      - report_params = Reports::Purchases.new(params.merge(school: current_school)).parameters
      = simple_form_for report_params,  :url => purchases_report_path, method: :post, :html => {:class => 'form-horizontal noprint'}, remote: true do |f|
        .form-sections
          .filter
            %h4 Filter By
            .filter-dates
              = f.input :date_filter, :label => "Date Range", :collection => report_params.date_filter_options
            .filter-rewards
              = f.input :reward_status_filter,:label => "Show Rewards", :collection => report_params.reward_status_filter_options
            .filter-teachers
              = f.input :teachers_filter, :label => "Homeroom Teacher", :collection => report_params.teachers_filter_options(current_school)
            .filter-teachers
              - if report_params.page.blank?
                = f.input :reward_creator_filter, :label => "Show Reward Creator", :collection => report_params.reward_creator_filter_options(current_school), :selected => current_person.id, :include_blank => true
              - else
                = f.input :reward_creator_filter, :label => "Show Reward Creator", :collection => report_params.reward_creator_filter_options(current_school)


          .sorting2
            %h4 Options
            .filter-dates
              = f.input :students_name_option, :label => "Student Name", :collection => report_params.student_name_options, :include_blank => false
            .filter-dates
              = f.input :teachers_name_option, :label => "Teachers Name", :collection => report_params.teacher_name_options, :include_blank => false
            %br/
          = f.submit 'Run Report', :class => 'btn awesome-button', :id => "run_report_button"
          = button_to 'Print Report', '#', { class: 'noprint btn awesome-button', onclick: 'printReport();', method: :put }

      .report
        = form_tag DeliverRewardsCommand.new, method: :post do
          %p The report can be sorted using the arrows in the heading of the report results. To sort by more than 1 column, sort the first column and then hold shift when clicking the second column. You can also search your report to find something or someone in particular using the search box below.
          %table#report_table.table.table-bordered.table-striped.solid-background
            %thead
              %tr
                - enable_mark_button = false
                %th Reward Creator
                %th Delivered By
                %th Student (username)
                %th Homeroom
                %th Grade
                %th Purchased
                %th PurchasedDate
                %th Reward
                %th Quantity
                %th Status
                %th Refund
                %th Deliver
                %th= check_box_tag "reward_deliveries_all", '1', false, :id => 'toggle', :onclick => "toggleAll(this)"
            %tbody
              - report_data = JSON.parse(report.report_data)
              - report_data.each do |row|
                %tr
                  %td= row["delivery_teacher"]
                  %td= row["delivered_by"]
                  %td= row["student"]
                  %td= row["classroom"]
                  %td= row["grade"]
                  %td
                    -if row["purchased"].present?
                      = time_ago_in_words(row["purchased"]) + " ago"
                    -else
                      = "None"
                  %td= row["purchased"]
                  %td= row["reward"]
                  %td= row["quantity"]
                  %td
                    - if row["status"] == "Delivered"
                      = row["status"]
                      %br/
                      (
                      = link_to_function 'undo', "undeliverReward($(this), #{row['reward_delivery_id']})"
                      )
                    - else
                      = row["status"]
                  %td
                    - if row["delivery_status"] == 'pending'
                      = link_to "Refund", refund_purchase_path(reward_delivery_id: row["reward_delivery_id"]), :confirm => "Are you sure you want to refund this purchase?", :class => "button refund"
                  %td
                    - if row["delivery_status"] == 'pending'
                      - enable_mark_button = true
                      = check_box_tag "reward_deliveries[]", row["reward_delivery_id"]
                  %td
          = hidden_field_tag 'user', current_person.id
          = simple_fields_for report_params do |p|
            = p.input :date_filter, :as => :hidden
            = p.input :reward_status_filter, :as => :hidden
            = p.input :teachers_filter, :as => :hidden
            = p.input :sort_by, :as => :hidden

          - if enable_mark_button
            %br/
            = submit_tag 'Mark Rewards Delivered', :class => "btn awesome-button noprint"
    - else
      .message.center-content
        = image_tag "loading.gif"
        %h3 Your purchase report is currently processing, it will show up here when it is completed.
      :javascript
        setTimeout(checkReportStatus, 1000);

        function checkReportStatus() {
          $.get(window.location.pathname + ".json",function(data) {
            if (data.delayed_report.state == "complete") {
              loadReport();
            } else {
              setTimeout(checkReportStatus, 1000);
            }
          });
        }

        function loadReport() {
          location.reload();
        }

:javascript
  $(document).ready( function () {
    var sort = eval($.cookie('purchases_report_order'));
    //sort = sort ? sort : [[0,"desc",0], [1, "desc", 0]]
    $('#report_table').dataTable( {
      "aoColumnDefs": [
        { 'bSortable': false, 'aTargets': [ 8, 9, 10 ] },
        { 'orderData':[6], 'targets': [5] },
        { 'targets': [6],'visible': false,'searchable': false},
        { "asSorting": [ "asc"], "aTargets": [ 6 ] }
       ],
      "bPaginate": false,
      "bInfo": false,
      "bSort": true,
      "order": [[ 5, "desc" ]]
      //"aaSorting": {}
    } );

    $('.refund').click(function(e) {
      e.preventDefault();

      $.ajax(e.currentTarget.href, {
        dataType: "JSON",
      }).always(function(data) {
        if (data.status == "200") {
          $(e.currentTarget).closest('tr').remove()
        }
        alert(data.notice);
      });

    });

    $('#report_table').on('sort.DT', function(e,d) {
      $.cookie('purchases_report_order', JSON.stringify(d.aaSorting));
    });

    $('#reports_purchases_params_reward_creator_filter').change(function() {
      console.log("Reward Creator changed...");
      $('#reports_purchases_params_teachers_filter').prop('selectedIndex', 0);
    });

    $('#reports_purchases_params_teachers_filter').change(function() {
      console.log("Homeroom changed...");
      $('#reports_purchases_params_reward_creator_filter').prop('selectedIndex', 0);
    });

  } );

:plain
  <script type="text/javascript">
    function toggleAll(name) {
      if(name.checked) {
        $("input:checkbox").each(function(){
          $(this).attr('checked', true);
          $("input:text").each(function(){
            $(this).attr('disabled', false);
          });
        });
      }
      else {
        $("input:checkbox").each(function(){
          $(this).attr('checked', false);
          $("input:text").each(function(){
            $(this).attr('disabled', true);
          });
        });
      }
    }


    function undeliverReward(element, reward_delivery_id) {
      $.ajax({
        type: "POST",
        url: "#{undeliver_reward_path}",
        data: {reward_delivery_id: reward_delivery_id},
        success: function(response) {
          if(response.success) {
            alert("The reward was undelivered.");
            $("#run_report_button").click();
          } else {
            alert("There was a problem undelivering the reward.");
          }
        }
      })
    }
  </script>
