%h3= @school.name

%table.table.table-striped.table-bordered
  %tr
    %th
      %h4 Reward Name
    %th
      %h4 Count on Hand
    %th
      %h4 Qty to Order

  - @school_inventory_items.each do |item|
    %tr
      %td= label_tag item.name
      %td{:width => 200}= item.count_on_hand
      %td{:width => 200}= number_field_tag "product_quantities[#{item.id}]",  0, :min => 0, :class => 'fullwidth title'

.pull-right= submit_tag "Create Order", :class => 'button'

