%h2= @school.name
%h4= "Active Students: #{@school.active_students.count}"

%h4 Participation Metrics
%table
  %thead
    %tr
      %th Registered Teachers
      %th Logged in Teachers
      %th Teachers handling credits
      %th Registered Students
      %th Logged in Students
      %th Students received a buck
  %tbody
    %tr
      %td= @school.teachers.active.count
      %td= @school.teachers.recently_logged_in.count
      %td= @school.teachers.select{|x| x.students_issued_30.present?}.count
      %td= @school.students.active.count
      %td= @school.students.recently_logged_in.count
      %td= @school.students.includes(:otu_codes).where('otu_codes.created_at > ?', 1.month.ago).where('otu_codes.student_id IS NOT NULL').count

%table
  %thead
    %tr
      %th Store Subdomain
  %tbody
    %tr
      %td
        =@school.store_subdomain
%table
  %thead
    %tr
      %th
        ="School Admins (#{admin_count})"
  %tbody
    %table
      %thead
        - admin_rows.each do |row|
          %tr
            - row.each do |school_admin|
              %td= link_to school_admin.name, admin_school_admin_path(school_admin)
%table
  %thead
    %tr
      %th
        ="Teachers (#{teacher_count})"
  %tbody
    %table
      %thead
        - teacher_rows.each do |row|
          %tr
            - row.each do |teacher|
              %td= link_to teacher.name, admin_teacher_path(teacher)
%table
  %thead
    %tr
      %th
        ="Students (#{student_count})"
  %tbody
    %table
      %thead
        - student_rows.each do |row|
          %tr
            - row.each do |student|
              %td= link_to "#{student.name} (#{student.user.username})", admin_student_path(student), :title => "#{student.gender} - #{School::GRADE_NAMES[student.grade]}"
%h4 Accounts
%table
  %thead
    %tr
      %th Name
      %th Balance
  %tbody
    %tr
      %td= link_to @school.main_account.name
      %td= @school.main_account.balance
    %tr
      %td= link_to @school.store_account.name
      %td= @school.store_account.balance

%h4 Participation Metrics
%table
  %thead
    %tr
      %th Registered Teachers
      %th Logged in Teachers
      %th Teachers handling credits
      %th Registered Students
      %th Logged in Students
      %th Students received a buck
  %tbody
    %tr
      %td= @school.teachers.count
      %td= @school.teachers.logged.count
      %td= ''
      %td= ''
      %td= ''
      %td= ''

