%h2= @school.name
%h4= "Active Students: #{@school.active_students.count}"

#get-metrics-div
  = form_tag "/admin/schools/get_metrics", remote: true, :method => :post, id: "get-metrics-form" do |f|
    = hidden_field_tag :school_id, @school.id
    = submit_tag 'Load Metrics', :class => 'awesome-button'

%table
  %thead
    %tr
      %th Store Subdomain
  %tbody
    %tr
      %td
        =@school.store_subdomain
%table
  %thead
    %tr
      %th
        ="School Admins (#{admin_count})"
  %tbody
    %table
      %thead
        - admin_rows.each do |row|
          %tr
            - row.each do |school_admin|
              %td= link_to school_admin.name, admin_school_admin_path(school_admin)
%table
  %thead
    %tr
      %th
        ="Teachers (#{teacher_count})"
  %tbody
    %table
      %thead
        - teacher_rows.each do |row|
          %tr
            - row.each do |teacher|
              %td= link_to "#{teacher.last_name}, #{teacher.first_name}", admin_teacher_path(teacher)
%table
  %thead
    %tr
      %th
        ="Students (#{student_count})"
  %tbody
    %table
      %thead
        - student_rows.each do |row|
          %tr
            - row.each do |student|
              %td= link_to "#{student.last_name}, #{student.first_name} (#{student.user.username})", admin_student_path(student), :title => "#{student.gender} - #{School::GRADE_NAMES[student.grade]}"
%h4 Accounts
%table
  %thead
    %tr
      %th Name
      %th Balance
  %tbody
    %tr
      %td= link_to @school.main_account.name
      %td= @school.main_account.balance
    %tr
      %td= link_to @school.store_account.name
      %td= @school.store_account.balance
