.main-content-wrapper
  %h2 New Teacher

  = bootstrap_form_for @teacher_signup_form do |f|
    .row
      .span4
        %h3 Teacher
        = f.text_field :first_name
        = f.text_field :last_name
        = f.text_field :email
        = f.text_field :username
        = f.password_field :password
        = f.password_field :password_confirmation
      .span4
        %h3 School
        = f.text_field :name
        = f.text_field :city
        = f.select :state_id, options_from_collection_for_select(State.all, 'id', 'abbr', selected: @teacher_signup_form.state_id), include_blank: true
    = f.submit 'Submit', class: 'btn awesome-button'

  :javascript
    $(function() {
      $( ".datepicker" ).datepicker();
    });

    // Set username to user's email
    $('#teacher_email').blur( function(e) {
      $('#teacher_username').val($(e.currentTarget).val());
    });
