.main-content-wrapper
  .primary-content
    %h1 Setup Your Account
    %p
      To get started with LE you just need to create an account and a school for your students.
      You will create logins for your students inside LE once you've created your account.

    = bootstrap_form_for @teacher_signup_form do |f|
      .row
        .span4
          %h3 Teacher
          = f.text_field :first_name, label: "First Name *"
          = f.text_field :last_name, label: "Last Name *"
          = f.text_field :email, label: "Email *"
          = f.text_field :username, label: "Username *"
          = f.password_field :password, label: "Password *"
          = f.password_field :password_confirmation, label: "Password Confirmation *"
        .span4
          %h3 School
          = f.text_field :name, label: "School or Classroom Name *"
          = f.text_field :city, label: "City *"
          = f.select :state_id, options_from_collection_for_select(State.all, 'id', 'abbr', selected: @teacher_signup_form.state_id), include_blank: true, label: "State *"
          = f.hidden_field :min_grade, :value => "0"
          = f.hidden_field :max_grade, :value => "12"
      = f.submit 'Submit', class: 'btn awesome-button'

  :javascript
    $(function() {
      $( ".datepicker" ).datepicker();
    });

    // Tooltips
    $('#teacher_username').tooltip({
      'trigger': 'focus',
      'placement': 'right',
      'title': 'Can be anything, we copied your email in case you want to use that.'
    });

    $('#teacher_name').tooltip({
      'trigger': 'focus',
      'placement': 'right',
      'title': 'Name your school anything you want, you and your students will need to select it when logging in.'
    });

    $('#teacher_city').tooltip({
      'trigger': 'focus',
      'placement': 'right',
      'title': 'This is displayed when selecting your school to login so you can tell the difference between to similarly names schools. It\'s probably best to choose the actual location of your school not to confuse anyone.'
    });

    $('#teacher_state_id').tooltip({
      'trigger': 'focus',
      'placement': 'right',
      'title': 'This is displayed when selecting your school to login so you can tell the difference between to similarly names schools. It\'s probably best to choose the actual location of your school not to confuse anyone.'
    });
    // Set username to user's email
    $('#teacher_email').blur( function(e) {
      $('#teacher_username').val($(e.currentTarget).val());
    });
