<html>
<head>
<title>Rails OpenID Example Relying Party</title>
</head>
  <style type="text/css">
      * {
        font-family: verdana,sans-serif;
      }
      body {
        width: 50em;
        margin: 1em;
      }
      div {
        padding: .5em;
      }
      .alert {
        border: 1px solid #e7dc2b;
        background: #fff888;
      }
      .error {
        border: 1px solid #ff0000;
        background: #ffaaaa;
      }
      .success {
        border: 1px solid #00ff00;
        background: #aaffaa;
      }
      #verify-form {
        border: 1px solid #777777;
        background: #dddddd;
        margin-top: 1em;
        padding-bottom: 0em;
      }
      input.openid {
        background: url( /images/openid_login_bg.gif ) no-repeat;
        background-position: 0 50%;
        background-color: #fff;
        padding-left: 18px;
      }
  </style>
  <body>
    <h1>Learning Earnings OpenID Error</h1>
    <div><%= @data.inspect %></div>
    <% if flash[:alert] %>
      <div class='alert'>
       <%= h(flash[:alert]) %>
      </div>
    <% end %>
    <% if flash[:error] %>
      <div class='error'>
       <%= h(flash[:error]) %>
      </div>
    <% end %>
    <% if flash[:success] %>
      <div class='success'>
       <%= h(flash[:success]) %>
      </div>
    <% end %>
    <% if flash[:sreg_results] %>
      <div class='alert'>
      <%= flash[:sreg_results] %>
      </div>
    <% end %>
    <% if flash[:pape_results] %>
      <div class='alert'>
      <%= flash[:pape_results] %>
      </div>
    <% end %>
  </body>
</html>