.credit-transaction-header
  .credit-student-title
    %h3= student.name
%br
.parent-fields-section
  = simple_form_for @student, url: url_for(:controller => 'teachers/bulk_students', :action => 'manage_parents'), html: {:multipart => true} do |f|
    = hidden_field_tag :student_id, student.id
    .parent-list.clear
      .parent-header
        First Name
      .parent-header
        Last Name
      .parent-header
        Username
      .parent-header
        Password
    = f.simple_fields_for :parents do |parent|
      = render 'parent_fields', f: parent  
    .links.clear
      = link_to_add_association 'Add Parent', f, :parents, :wrap_object => Proc.new {|parent| parent.build_user; parent }
     
    = f.submit "Save", class: 'btn awesome-button add_students_button'