.credit-transaction-header
  .credit-student-title
    %h3= student.name
%br
.parent-fields-section
  = simple_form_for @student, url: url_for(:controller => 'teachers/bulk_students', :action => 'manage_parents') do |f|
    = hidden_field_tag :student_id, student.id
    .parent-list.clear
      .parent-header
        First Name
      .parent-header
        Last Name
      .parent-header
        Username
      .parent-header
        Password
    = f.simple_fields_for :parents do |parent_form|
      = render 'parent_fields', f: parent_form  
    .links.clear
      = link_to_add_association 'Add Parent', f, :parents, {}, :partial => 'parent_fields', render_options: { wrapper: 'inline' }     
    = f.submit "Save", class: 'btn awesome-button add_students_button'

