%h3= student.name
.parent-icon
  = image_tag("parent_icon.png", :border => '0', :alt => '', :title => '')
#tabs
  %ul
    %li
      %a{"href" => "#tab-1"} Parent Details

  #tab-1
    .parent-fields-section
      = simple_form_for @student, url: url_for(:controller => 'teachers/bulk_students', :action => 'manage_parents'), html: {:multipart => true}, remote: true do |f|
        = hidden_field_tag :student_id, student.id
        = hidden_field_tag :active_tab, tab_active(active_tab)
        .parent-list.clear
          .parent-header
            First Name
          .parent-header
            Last Name
          .parent-header
            Relationship
          .parent-header
            Phone
          .parent-header
            Email
          .parent-header
            Username
          .parent-header
            Password

        = f.simple_fields_for :parents do |parent|
          = render 'parent_fields', f: parent  
        .clear  
          = link_to_add_association 'Add Parent', f, :parents, :wrap_object => Proc.new {|parent| parent.build_user; parent }
         
        = f.submit "Save", class: 'btn awesome-button add_students_button'



:coffeescript
  $(document).ready ->
    $('#tabs').tabs selected: $('#active_tab').val()
    return

