%h3= student.name
.parent-icon
  = image_tag("parent_icon.png", :border => '0', :alt => '', :title => '')
#tabs
  %ul
    %li
      %a{"href" => "#tab-1"} Parent Details

  #tab-1
    .parent-fields-section
      = simple_form_for @student, url: url_for(:controller => 'teachers/bulk_students', :action => 'manage_parents'), html: {:multipart => true}, remote: true do |f|
        = hidden_field_tag :student_id, student.id
        =# hidden_field_tag :active_tab, tab_active(active_tab)
        .parent-list.clear
          .parent-header
            First Name
          .parent-header
            Last Name
          .parent-header
            Relationship
          .parent-header
            Phone
          .parent-email-header
            Email
          .parent-header
            Username

        - @student.parents.each do |parent|
          .nested-fields.clear
            .field.parent-field
              = parent.first_name
            .field.parent-field
              = parent.last_name
            .field.parent-field
              = parent.relationship
            .field.parent-field
              = parent.phone
            .field.parent-email-field
              = parent.user.email
            .field.parent-field
              = parent.user.username
            .field.parent-field
              = link_to "Remove", delete_student_parent_teachers_bulk_students_path(student_id: @student.id, parent_id: parent.id) , :remote => true, :method => :delete,  data: { confirm: 'Are you sure?' }

:coffeescript
  $(document).ready ->
    $('#tabs').tabs selected: $('#active_tab').val()
    return

