%tr
  %td.text= text_field_tag 'first[]', options[:first], class: 'first'
  %td.text= text_field_tag 'last[]', options[:last], class: 'last'
  %td.text= text_field_tag 'username[]', options[:username], class: 'username'
  %td.text= text_field_tag 'password[]', options[:password], class: 'password'
  %td.select= select_tag 'grade[]', options_for_select(grades), class: 'grade'
  %td.select= select_tag 'gender[]', options_for_select([nil, 'Male', 'Female']), class: 'gender'
  %td
    = link_to 'Remove Row', '#', class: 'delete_row btn'
