.main-content-wrapper
  .primary-content-fw
    %h1 Edit Students
    .grid_edit_students
      .controls
        = form_tag '/teachers/bulk_students/edit', method: :get do
          %h5 Optionally Filter List of Students:
          .control
            %label Classroom:
            = select_tag 'classroom', options_from_collection_for_select([OpenStruct.new(id: nil, name: nil)] | current_person.classrooms.uniq.to_a, "id", "name", :selected => params[:classroom]), id: 'controls_classroom'
            %label Grade:
            = select_tag 'grade', options_for_select([nil] | current_school.grades.map(&:reverse), :selected => params[:grade]), id: 'controls_grade'
            %label Gender:
            = select_tag 'gender', options_for_select([nil, 'Male', 'Female'], :selected => params[:gender]), id: 'controls_gender'
            = button_tag 'Filter List', class: 'btn awesome-button'
      .controls
        %h5
          Action for
          %span#number_of_students
          Selected Students:
        .control
          = select_tag 'controls_action', options_for_select(@actions.collect.with_index.to_a)
          %span.password_field.secondary
            %label Password:
            = text_field_tag 'controls_password'
          %span.classroom_field.secondary
            %label Classroom:
            = select_tag 'controls_classroom_selection', options_from_collection_for_select(current_person.assignable_classrooms_for_school(current_school).uniq.to_a, "id", "name"), prompt: "Select Classroom"
          = button_tag 'UPDATE These Students', class: 'btn awesome-button', id: 'update_these_students'

      = form_tag '/teachers/bulk_students', method: :put, id: 'update_students_form' do
        = hidden_field_tag "form_action_hidden_tag", nil, id: "form_action_hidden_tag"
        %table#students_header_sort.tablesorter
          %thead
            %tr
              %th= check_box_tag 'select_all'
              %th.text.last Last
              %th.text.first First
              %th.text.username Username
              %th.select.grade Grade
              %th.select.gender Gender
              %th.text.password Password
          %tbody.students_body
            - @students.each do |student|
              = render 'edit_student_row', grades: current_school.grades, options: { selected: false, first_name: student.first_name, last_name: student.last_name, username: student.user.username, password: student.recovery_password, grade: student.grade, gender: student.gender, id: student.id, name: student.name}
          %div.clear
#message.modal
  = image_tag "loading.gif"
  %h3 Your student account(s) are being updated, the results will be displayed when it is completed.
        
= javascript_include_tag "bulk_students"
