.main-content-wrapper
  .primary-content-fw
    %h1 New Students
    .grid_edit_students
      .controls
        .control
          %label Number of Students to Add:
          = select_tag 'controls_number_of_students', options_for_select(1..40)
        %h5 Optionally Pre-Fill Common Data:
        .control
          %label Grade:
          = select_tag 'controls_grade', options_for_select([nil] | current_school.grades)
          %label Gender:
          = select_tag 'controls_gender', options_for_select([nil, 'Male', 'Female'])
          %label Classroom:
          = select_tag 'controls_classroom', options_from_collection_for_select([OpenStruct.new(id: nil, name: nil)] | current_person.classrooms.uniq.to_a, "id", "name")
          %label Password:
          = text_field_tag 'controls_password'
          = button_tag 'Go', class: 'btn awesome-button'
      = form_tag '/teachers/bulk_students', method: :post do
        %table
          %thead
            %tr
              %th.text.first First
              %th.text.last Last
              %th.text.username Username
              %th.text.password Password
              %th.select.grade Grade
              %th.select.classrooms Classrooms
              %th.select.gender Gender
              %th
          %tbody.students_body
            - if params["students"]
              -params["students"].each_with_index do |student, index|
                = render 'student_row', grades: current_school.grades, classrooms: [OpenStruct.new(id: nil, name: nil)] | current_person.classrooms.uniq.to_a, options: student, errors: @batch_student_creator.students[index].errors
        = submit_tag "Add These Students", class: 'btn awesome-button add_students_button'

    %script#student_row{type: 'text/html'}
      = render 'student_row', grades: current_school.grades, classrooms: [OpenStruct.new(id: nil, name: nil)] | current_person.classrooms.uniq.to_a, options: { first_name: '{{first}}', last_name: '{{last}}', username: '{{username}}', password: '{{password}}', grade: '{{grade}}', gender: '{{gender}}', classroom: '{{classroom}}'}

    :coffeescript
      insertNewStudentRow = (options) ->
        ich.grabTemplates()
        row = ich['student_row'](options)
        $('.grade', row).val(options.grade)
        $('.gender', row).val(options.gender)
        $('.classroom', row).val(options.classroom)
        $('.grid_edit_students tbody').append(row)
        show_add_students_button()

      $('.controls button').on 'click', () ->
        options = getControlOptions()
        for time in [1..options.numberOfStudents]
          insertNewStudentRow(options)

      getControlOptions = () ->
        numberOfStudents = $('#controls_number_of_students').val()
        grade = $('#controls_grade').val()
        gender = $('#controls_gender').val()
        password = $('#controls_password').val()
        classroom = $('#controls_classroom').val()
        { numberOfStudents: numberOfStudents, grade: grade, gender: gender, password: password, classroom: classroom }

      perhapsDeleteRow = (evt) ->
        if $(evt.target).hasClass('delete_row')
          evt.preventDefault()
          $(evt.target).closest('tr').prev('.error_row').remove()
          $(evt.target).closest('tr').remove()
          if $('.students_body').children('tr').size() == 0
            hide_add_students_button()
          return false

      $('.grid_edit_students').on 'click', (evt) ->
        perhapsDeleteRow(evt)

      hide_add_students_button = () ->
        $('.add_students_button').hide()

      show_add_students_button = () ->
        $('.add_students_button').show()

    - unless params["students"]
      :coffeescript
        $('.add_students_button').hide()
