.main-content-wrapper
  .primary-content
    %h1 Manage Students
    = link_to "New Students", new_teachers_bulk_students_path, {class: 'btn awesome-button new-students-link'}
    = link_to "Edit Students", edit_teachers_bulk_students_path, class: 'btn awesome-button'
  .primary-content
    %h2 Import Students
    %h4 Required Format Example:
    %table.table.table-bordered.table-striped.solid-background
      %tr
        %th First
        %th Last
        %th Grade
        %th Gender
        %th Username
        %th Password
      %tr
        %td John
        %td Doe
        %td 1
        %td m
        %td jdoe1
        %td password
    = link_to "Click here to download an example spreadsheet.", "/student_sample_template.xls"
    %p
      = "Upload the students for #{current_school.name}"
    = form_tag import_students_teachers_bulk_students_path, :multipart => true, :method => :post do
      = hidden_field_tag :school_id, current_school.id
      .field
        = file_field_tag :file
      = submit_tag 'Import Students', class: "btn awesome-button"

= javascript_include_tag "tours/school_admin/overview"
= javascript_include_tag "tours/teacher/overview"

:javascript
  if (hopscotch.getState() !== null  && (localStorage.getItem('tour:shouldStartTour') == 'Y'))  {
    var tour = window[hopscotch.getState().split(":")[0]];
    hopscotch.startTour(tour);
  }
