%h1
  = current_school.name
%h2 Site Settings
%hr

.school-settings
  %h3 Select the teachers that will distribute rewards
  = form_for :teacher, :url => schools_toggle_distributor_path do |f|
    %table.table.table-bordered.table-striped.solid-background
      %thead
        %tr
          %td Teacher Name
          %td Reward Distributor
          %td Credit Distributor
          %td Can Deliver Rewards?
          %td Can Distribute Credits?
      %body
        - @teachers.each do |teacher|
          %tr
            %td= teacher.name
            %td= teacher.can_distribute_rewards?(current_school) ? 'YES' : 'NO'
            %td= teacher.can_distribute_credits ? 'YES' : 'NO'
            %td= check_box_tag "reward_teachers[]", teacher.id, false
            %td= check_box_tag "credit_teachers[]", teacher.id, false
    = f.submit 'Update'

  %h3 Manage Reward Exclusions
  = link_to "Click here to manage your school's reward exclusions.", schools_reward_exclusions_path
