.content-container
  .side-art
    .side-art-teachers
  .main-content-wrapper
    .primary-content-fw
      .bank_content
        %h2 The Bank

        %p Teachers have enough to worry about, which is why we made LE Credits the easiest and simplest way to reward students for a job well done.  Below you'll find everything you need to manager your classroom's LE funds.
        %p.credits-available
          %strong
            Credits Available: 
          = number_to_currency(current_person.main_account(current_school).balance)

        .distribute-credits
          %h3 Distribute Credits
          %h4 Print Physical Credits
          = form_for OtuCode.new, :url => school_admins_create_print_bucks_path do |f|
            = label_tag "Teacher"
            = select("teacher", "id", current_school.teachers.order('last_name, first_name').collect {|p| [ p.name, p.id ] })
            = label_tag '$1'
            = text_field_tag :point1,nil,:class => 'focus-on-me'
            = label_tag '$5'
            = text_field_tag :point5
            = label_tag '$10'
            = text_field_tag :point10
            = f.submit 'Print These Credits'

          %h4 Create E-Credits
          = form_for OtuCode.new, :url => school_admins_create_ebucks_path do |f|
            = label_tag 'Student'
            = select("student", "id", current_school.students.order('last_name, first_name').collect {|p| [ p.name, p.id ] }, :include_blank => true)
            = label_tag :points
            = text_field_tag :points
            = f.submit 'Send These Credits'

          %h4 Transfer Credits
          = form_for OtuCode.new, :url => school_admins_transfer_bucks_path do |f|
            = label_tag 'Points'
            = text_field_tag :points
            = label_tag :from_teacher
            = select_tag :from_teacher_id, options_from_collection_for_select((current_school.teachers << SchoolAdmin.find(current_person.id)), :id, :to_s), :include_blank => true
            = label_tag :to_teacher
            = select_tag :to_teacher_id, options_from_collection_for_select((current_school.teachers << SchoolAdmin.find(current_person.id)), :id, :to_s), :include_blank => true
            = f.submit 'Transfer Credits'
