.main-content-wrapper
  .full-content
    .bank_content
      %h1 Bank
      %p.credits-available
        %strong
          Credits Available:
        = number_with_precision(current_person.main_account(current_school).balance, precision: 2, delimiter: ',')
        = link_to 'Edit Credit Categories', teachers_otu_code_types_path, :class => 'btn awesome-button pull-right'

      .distribute-credits
        %h3 Credits
        %ul#distribute-credits{:class => "nav nav-tabs"}
          %li
            %a.electronic_credits{:href => "#electronic-credits", 'data-toggle' => 'tab'}
              %p
                %i{:class => "icon-envelope"}
                Electronic Credits
          %li
            %a{:href => "#print-credits", 'data-toggle' => 'tab'}
              %p
                %i{:class => "icon-print"}
                Print Credits
          %li
            %a{:href => "#transfer-credits", 'data-toggle' => 'tab'}
              %p
                %i{:class => "icon-random"}
                Transfer Credits
          - if current_user.person.is_a?(SchoolAdmin)
            %li
              %a{'href' => '#auto-credits', 'data-toggle' => 'tab'}
                %p
                  %i{:class => "icon-star"}
                  Automatic
          %li
            %a{:href => "#lookup-code", 'data-toggle' => 'tab'}
              %p
                %i{:class => "icon-search"}
                Lookup A Code

        .tab-content
          .tab-pane#print-credits
            %p Print Physical Credits
            = form_for OtuCode.new, :url => school_admins_create_print_bucks_path do |f|
              %span.form-input-control
                = label_tag "Teacher"
                = select("teacher", "id", current_school.teachers.order('last_name, first_name').collect {|p| [ p.name, p.id ] })
              %span.form-input-control
                = label_tag '1s'
                = text_field_tag :point1, nil, :class => 'focus-on-me input-mini credits'
              %span.form-input-control
                = label_tag '5s'
                = text_field_tag :point5, nil, :class => 'input-mini credits'
              %span.form-input-control
                = label_tag '10s'
                = text_field_tag :point10, nil, :class => 'input-mini credits'
              = f.submit 'Print These Credits', :class => 'btn awesome-button'

          .tab-pane#electronic-credits
            .electronic-credits-for-student
              %p Issue Electronic Credits to a single student
              = form_for OtuCode.new, :url => school_admins_create_ebucks_path do |f|
                %span.form-input-control
                  = label_tag 'Student'
                  = select("student", "id", current_school.students.order('last_name, first_name').collect {|p| [ p.name, p.id ] }, :include_blank => true)
                %span.form-input-control
                  = label_tag 'Credits'
                  = text_field_tag :points, nil, :class => "input-mini credits"
                %span.form-input-control
                  = f.label :otu_code_category_id, "Credit Category"
                  = f.select :otu_code_category_id, options_for_select(current_otu_code_categories.map{|x| [x.name, x.id]})
                %div
                = f.submit 'Send Credits', :class => 'btn awesome-button', style: 'float:left;'
            %br
            .electronic-credits-for-classroom
              %p Issue Electronic Credits to each student in a classroom
              = form_for OtuCode.new, :url => school_admins_create_ebucks_for_classroom_path do |f|
                %span.form-input-control
                  = label_tag 'Classroom'
                  = select("classroom", "id", current_person.classrooms.uniq.order('name').collect {|p| [ p.name, p.id ] }, :include_blank => true)
                %span.form-input-control
                  = label_tag 'Credits'
                  = text_field_tag :class_points, nil,:class => 'class_points input-mini credits', :onclick => 'copy_points();'
                %span.form-input-control
                  = f.label :otu_code_category_id, "Credit Category"
                  = f.select :otu_code_category_id, options_for_select(current_otu_code_categories.map{|x| [x.name, x.id]}), {}, id: "classroom_otu_code_category"
                #classroom_distribution
                = f.submit 'Send Credits', class: 'btn awesome-button', style: 'float:left;'

          .tab-pane#transfer-credits
            %p Transfer Credits Between Teachers
            = form_for OtuCode.new, :url => school_admins_transfer_bucks_path do |f|
              %span.form-input-control
                = label_tag 'Credits'
                = text_field_tag :transfer_points, nil, :class => "input-mini credits"
              %span.form-input-control
                = label_tag :from_teacher
                = select_tag :from_teacher_id, options_from_collection_for_select((current_school.teachers << SchoolAdmin.find(current_person.id)), :id, :to_s), :include_blank => true
              %span.form-input-control
                = label_tag :to_teacher
                = select_tag :to_teacher_id, options_from_collection_for_select((current_school.teachers << SchoolAdmin.find(current_person.id)), :id, :to_s), :include_blank => true
              = f.submit 'Send Credits', class: 'btn awesome-button'

          .tab-pane#lookup-code
            =render "/banks/code_lookup"

          - if current_user.person.is_a?(SchoolAdmin)
            .tab-pane#auto-credits
              %h4 Assign Automatic Credits
              %p
                Automatic credits are distributed at the end of the week on Saturday night, for the previous week.
              -if current_school.is_inow?
                = form_for @school, url: school_admins_update_auto_credits_path, :method => :post do |f|
                  = f.label :weekly_perfect_attendance_amount
                  %br/
                  = f.text_field :weekly_perfect_attendance_amount, :value => @school.weekly_perfect_attendance_amount, :class => "input-mini credits"
                  %br/
                  = f.label :weekly_no_tardies_amount
                  %br/
                  = f.text_field :weekly_no_tardies_amount, :value => @school.weekly_no_tardies_amount, :class => "input-mini credits"
                  %br/
                  = f.label :weekly_no_infractions_amount
                  %br/
                  = f.text_field :weekly_no_infractions_amount, :value => @school.weekly_no_infractions_amount, :class => "input-mini credits"
                  %br/
                  = f.submit 'Update Auto-Credits', :class => 'btn awesome-button'
              - else
                %p
                  This functionality is not supported for your school.
%script#students_table{ type: 'text/html' }
  :plain
    <table class='table'>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Credits</th>
          <th>Reason</th>
        </tr>
      </thead>
      <tbody>
        {{#students}}
          <tr>
            <td>{{first_name}}</td>
            <td>{{last_name}}</td>
            <td>
              <input type='text' name='credits[{{id}}]' class='classroom_student_points' />
            </td>
            <td>
              #{select_tag 'credit_categories[{{id}}]', options_for_select(current_otu_code_categories.map{|x| [x.name, x.id]}), class: "classroom_student_reasons", id: "classroom_otu_code_category_{{id}}"}
            </td>
          </tr>
        {{/students}}
      </tbody>
    </table>

:coffeescript
  jQuery ->
    ($ '#distribute-credits a').click (e) ->
      e.preventDefault()
      ($ this).tab('show')
    ($ '#distribute-credits a.electronic_credits').tab('show')

    distributeCreditsToAllStudents = () ->
      points = $('#classroom_points').val()
      $('input.classroom_student_points').val(points)

    distributeReasonToAllStudents = () ->
      reason = $('#classroom_otu_code_category').val()
      $('.classroom_student_reasons').val(reason)

    ($ '#classroom_id').on 'change', (e) ->
      (
        $.get('/classrooms/' + $('#classroom_id').val() + '.json')
          .success (students) ->
            # We have to map the rails-returned data to something more appropriate for mustache
            # mapped_students = $.map students, (student_wrapper) ->
            #   student_wrapper.student
            ich.grabTemplates();
            html = ich.students_table(students: students.classrooms)
            $('#classroom_distribution').html(html)
            distributeCreditsToAllStudents()
            distributeReasonToAllStudents()
      )

    $('#classroom_points').on('change', distributeCreditsToAllStudents)
    $('#classroom_otu_code_category').on('change', distributeReasonToAllStudents)

    ($ document).ready ->
      $('.class_points').on 'keyup', (e) ->
        (
          copy_points()
        )
= javascript_include_tag "tours/school_admin/overview"

:javascript
  if (hopscotch.getState() !== null  && (localStorage.getItem('tour:shouldStartTour') == 'Y'))  {
    var tour = window[hopscotch.getState().split(":")[0]];
    hopscotch.startTour(tour);
  }

  function copy_points() {
    var points = $('.class_points').val();
    $('input.classroom_student_points').val(points);
  }

  $("#school_weekly_perfect_attendance_amount").on("change", function() {
        var val = Math.abs(parseInt(this.value, 10));
        this.value = val > 100 ? 100 : val;
  });

  $("#school_weekly_no_tardies_amount").on("change", function() {
        var val = Math.abs(parseInt(this.value, 10));
        this.value = val > 100 ? 100 : val;
  });

  $("#school_weekly_no_infractions_amount").on("change", function() {
        var val = Math.abs(parseInt(this.value, 10));
        this.value = val > 100 ? 100 : val;
  });
