%h1 FAQ

#search-help
  = form_for 'faq_question_search', remote: true, id: 'faq-search-form' do |f|
    = f.text_field :search
    = submit_tag 'Search', :class => 'awesome-button'

#faqs
  - @questions.each do |question|
    %h3= question.question
    %div
      %p= question.answer

:javascript
  $(document).ready(function() {
    $('#faqs h3').each(function() {
      var tis = $(this), state = false, answer = tis.next('div').hide().css('height','auto').slideUp();
      tis.click(function() {
        state = !state;
        answer.slideToggle(state);
        tis.toggleClass('active',state);
      });
    });
  });

:coffeescript
  $(document).ready ->
    $("#faq-search-form").on("ajax:success", (e, data, status, xhr) ->
      $("#faqs").replaceWith xhr.responseText
    )

