.main-content-wrapper
  .primary-content
    %h1 Help
    %ul
      - if current_user.person.is_a?(Teacher) || current_user.person.is_a?(SchoolAdmin)  
        %li
          %h3
            = link_to "Administrator Guide", "http://support.sti-k12.com/documentation/quickref/Learning%20Earnings%20-%20Administrator%20Guide.pdf", :target => "_blank"
          = "A guide of administrator-level options including managing the bank, students, teachers, classrooms and more." 
        %li
          %h3
            = link_to "Teacher Getting Started Guide", "http://support.sti-k12.com/documentation/quickref/Learning%20Earnings%20-%20Teacher%20Getting%20Started%20Guide.pdf", :target => "_blank"
          = "A detailed guide for teachers with instructions for navigation, bank, students, classroom, shopping and reports." 
        %li
          %h3
            = link_to "Teacher Tri-Fold Guide", "http://support.sti-k12.com/documentation/quickref/Learning%20Earnings%20-%20Teacher%20Tri-Fold.pdf", :target => "_blank"
          = "A handy brochure-style guide to use as an introduction to Learning Earnings or as a refresher for seasoned users." 
      %li
        %h3
          = link_to "Student Tri-Fold Guide", "http://support.sti-k12.com/documentation/quickref/Learning%20Earnings%20-%20Student%20Tri-Fold.pdf", :target => "_blank"
        = "A quick guide to introduce Learning Earnings to your students."       



