%h1 Help 

%ul
  %li
    %h3 
      = link_to "Browse online help", :tour
    = "Click the above link to see a comprehensive guide to LE pages and features.  "      
  %li
    %h3 
      = link_to "LE Tour", :begin_tour
    = "Click the above link to take a guided tour of LE.  At any time you can come back to the help page and click the following link to disable the tour:"
    = link_to "End Tour", :end_tour

%h1 FAQ

#search-help
  = form_for 'search', remote: true, id: 'faq-search-form' do |f|
    = f.text_field :q
    = submit_tag 'Search', :class => 'awesome-button'

#faqs
  - @questions.each do |question|
    %h3= question.question
    %div
      %p= question.answer

.release-notes
  .title Release Notes
  - @release_notes.each do |release_note|
    .release-note{id: "#{release_note.type}-#{release_note.id}"}
      .title= release_note.title
      .body= release_note.body

:javascript
  $(document).ready(function() {
    load_answers();

    $("#search-help").children().on("ajax:success", function(e, data, status, xhr){
      $("#faqs").replaceWith(xhr.responseText);
      load_answers();
    });

  });

  function load_answers() {
    $('#faqs h3').each(function() {
      var tis = $(this), state = false, answer = tis.next('div').hide().css('height','auto').slideUp();
      tis.click(function() {
        state = !state;
        answer.slideToggle(state);
        tis.toggleClass('active',state);
      });
    });
  };
