%h2 LE Tour

- if current_person.is_a?(Student)
  = link_to "Inbox Page", main_app.inbox_path + "?tour=Y"
  = Tour.text("MenuInbox",current_person)
  %ul
  = link_to "Bank Page", main_app.bank_path + "?tour=Y"
  = Tour.text("MenuBank",current_person)   
  %ul
    %li Deposit printed codes: 
    = Tour.text("DepositPrintedCodes",current_person)
    %li View checking history: 
    = Tour.text("DepositPrintedCodes",current_person)    
  = link_to "Shop Page", '/store?tour=Y'
  = Tour.text("MenuShop",current_person) 
  %ul 
-elsif current_person.is_a?(SchoolAdmin)
  = link_to "Bank Page", main_app.bank_path + "?tour=Y"
  = Tour.text("MenuBank",current_person)   
  %ul
    - if current_person.try(:school).try(:synced?)
      %li Auto-credits: 
      = Tour.text("AutoCredits",current_person)
  = link_to "Students Page", students_path + "?tour=Y"
  = Tour.text("MenuStudents",current_person) 
  %ul 
    %li Adding students: 
    = Tour.text("AddingStudents",current_person)
    %li Adding teachers: 
    = Tour.text("AddingTeachers",current_person)    
  = link_to "Classrooms Page", main_app.classrooms_path + "?tour=Y"
  = Tour.text("MenuClassrooms",current_person) 
  %ul 
  = link_to "Play Page", main_app.games_path + "?tour=Y"
  = Tour.text("MenuPlay",current_person) 
  %ul             
  = link_to "Shop Page", '/store?tour=Y'
  = Tour.text("MenuShop",current_person) 
  %ul 
    %li Adding or Manage Your Rewards: 
    = Tour.text("AddOrManageYourRewards",current_person)
    - if !current_person.try(:school).try(:synced?)
      %li Create a New Custom Reward: 
      = Tour.text("Create a New Custom Reward",current_person)
- elsif current_person.is_a?(Teacher)
  = link_to "Bank Page", main_app.teachers_bank_path + "?tour=Y"
  = Tour.text("MenuBank",current_person)   
  %ul
  = link_to "Students Page", students_path + "?tour=Y"
  = Tour.text("MenuStudents",current_person) 
  %ul 
    %li Adding students: 
    = Tour.text("AddingStudents",current_person) 
  = link_to "Classrooms Page", main_app.classrooms_path + "?tour=Y"
  = Tour.text("MenuClassrooms",current_person) 
  %ul 
  = link_to "Shop Page", '/store?tour=Y'
  = Tour.text("MenuShop",current_person) 
  %ul 
    %li Adding or Manage Your Rewards: 
    = Tour.text("AddOrManageYourRewards",current_person)
    - if !current_person.try(:school).try(:synced?)
      %li Create a New Custom Reward: 
      = Tour.text("Create a New Custom Reward",current_person)
  = link_to "Reports Page", main_app.teachers_reports_path + "?tour=Y"
  = Tour.text("MenuReports",current_person) 
  %ul     
    
= current_person.user.sign_in_count    

