.main-content-wrapper

  .full-content
    .bank_content
      %h2 The Bank
      %p
        Teachers have enough to worry about, which is why we made LE Credits the
        easiest and simplest way to reward students for a job well done.
        Below you'll find everything you need to manage your classroom's LE credits.
      %p.credits-available
        %strong
          Credits Available:
        = number_with_precision(current_person.main_account(current_school).balance, precision: 2, delimiter: ',')
        = link_to 'Edit Credit Categories', teachers_otu_code_types_path, {:class => 'btn awesome-button edit-credit-categories'}

    - if current_person.can_distribute_credits_for_school?(current_school)
      .distribute-credits
        %h3 Distribute Credits
        %ul#distribute-credits{:class => "nav nav-tabs"}
          %li
            %a{:href => "#print-credits", 'data-toggle' => 'tab'}
              %p
                %i{:class => "icon-print"}
                Print Credits
          %li
            %a.electronic_credits{:href => "#electronic-credits", 'data-toggle' => 'tab'}
              %p
                %i{:class => "icon-envelope"}
                Electronic Credits
          %li
            %a{:href => "#transfer-credits", 'data-toggle' => 'tab'}
              %p
                %i{:class => "icon-random"}
                Transfer Credits
          %li
            %a{:href => "#lookup-code", 'data-toggle' => 'tab'}
              %p
                %i{:class => "icon-search"}
                Lookup A Code
        .tab-content
          .tab-pane#print-credits
            %h4 Print Physical Credits
            = form_for OtuCode.new, :url => teachers_create_print_bucks_path do |f|
              = label_tag '1'
              = text_field_tag :point1,nil,:min => '0',:step => '1', :type => 'number',:class => 'focus-on-me'
              = label_tag '5'
              = text_field_tag :point5, nil,:min => '0',:step => '1',:type => "number"
              = label_tag '10'
              = text_field_tag :point10, nil,:min => '0', :step => '1',:type => "number"
              = f.submit 'Print These Credits', :class => 'awesome-button'

          .tab-pane#electronic-credits
            .electronic-credits-for-student
              %h4 Issue Electronic Credits to a single student
              = form_for OtuCode.new, :url => teachers_create_ebucks_path do |f|
                = label_tag 'Student'
                - cache "school_#{current_school.id}_students_dropdown", :expires_in => 10.minutes do
                  = select("student", "id", current_school.students.order('last_name, first_name').includes(:user).collect {|p| [ "#{p.name_last_first} - (#{p.user.username})", p.id ] },{ :include_blank => true},{ class: 'chzn-select'})
                = label_tag :credits
                = text_field_tag :points, nil
                = f.label :otu_code_category_id, "Credit Category"
                = f.select :otu_code_category_id, options_for_select(current_otu_code_categories.map{|x| [x.name, x.id]})
                = f.submit 'Send These Credits', :class => 'awesome-button'

            .electronic-credits-for-classroom
              %h4 Issue Electronic Credits to each student in a classroom
              = form_for OtuCode.new, :url => teachers_create_ebucks_for_classroom_path do |f|
                = label_tag 'Classroom'
                = select("classroom", "id", current_person.classrooms.uniq.order('name').collect {|p| [ p.name, p.id ] }, :include_blank => true)
                = label_tag 'Credits'
                = text_field_tag :class_points, nil, :class => 'class_points', :onclick => 'copy_points();'
                = f.label :otu_code_category_id, "Credit Category"
                = f.select :otu_code_category_id, options_for_select(current_otu_code_categories.map{|x| [x.name, x.id]}), {}, id: "classroom_otu_code_category"
                #classroom_distribution
                = f.submit 'Send These Credits', class: 'awesome-button'

          .tab-pane#transfer-credits
            %h4 Transfer Credits to Another Teacher
            = form_for OtuCode.new, :url => teachers_transfer_bucks_path do |f|
              = label_tag 'Credits'
              = text_field_tag :transfer_points, nil, :min => '0',:step => '1', :type => "number"
              = hidden_field_tag :from_teacher_id, current_person.id
              = label_tag :to_teacher
              = select_tag :to_teacher_id, options_from_collection_for_select((current_school.teachers + current_school.school_admins).uniq - [current_person], :id, :to_s), :include_blank => true
              = f.submit 'Transfer Credits', :class => 'awesome-button'
          .tab-pane#lookup-code
            =render "/banks/code_lookup"

%script#students_table{ type: 'text/html' }
  :plain
    <table class='table'>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Credits</th>
          <th>Reason</th>
        </tr>
      </thead>
      <tbody>
        {{#students}}
          <tr>
            <td>{{first_name}}</td>
            <td>{{last_name}}</td>
            <td>
              <input type='text' name='credits[{{id}}]' class='classroom_student_points' />
            </td>
            <td>
              #{select_tag 'credit_categories[{{id}}]', options_for_select(current_otu_code_categories.map{|x| [x.name, x.id]}), class: "classroom_student_reasons", id: "classroom_otu_code_category_{{id}}"}
            </td>
          </tr>
        {{/students}}
      </tbody>
    </table>

:coffeescript
  jQuery ->
    ($ '#distribute-credits a').click (e) ->
      e.preventDefault()
      ($ this).tab('show')
    ($ '#distribute-credits a.electronic_credits').tab('show')

    distributeCreditsToAllStudents = () ->
      points = $('#classroom_points').val()
      $('input.classroom_student_points').val(points)

    distributeReasonToAllStudents = () ->
      reason = $('#classroom_otu_code_category').val()
      $('.classroom_student_reasons').val(reason)

    ($ '#classroom_id').on 'change', (e) ->
      (
        $.get('/classrooms/' + $('#classroom_id').val() + '.json')
          .success (students) ->
            # We have to map the rails-returned data to something more appropriate for mustache
            # mapped_students = $.map students, (student_wrapper) ->
            #   student_wrapper.student
            ich.grabTemplates()
            html = ich.students_table(students: students.classrooms)
            $('#classroom_distribution').html(html)
            distributeCreditsToAllStudents()
            distributeReasonToAllStudents()
      )

    $('#classroom_points').on('change', distributeCreditsToAllStudents)
    $('#classroom_otu_code_category').on('change', distributeReasonToAllStudents)

    ($ document).ready ->
      $('.class_points').on 'keyup', (e) ->
        (
          copy_points()
        )

= javascript_include_tag "tours/teacher/overview"

:javascript
  if (hopscotch.getState() !== null && (localStorage.getItem('tour:shouldStartTour') == 'Y')) {
    var tour = window[hopscotch.getState().split(":")[0]];
    hopscotch.startTour(tour);
  }

  function copy_points() {
    var points = $('.class_points').val();
    $('input.classroom_student_points').val(points);
  }
