= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } 

%h2= t(:editing_user)

= form_for @user, :url => spree.user_path(@user), :method => :put do |f|
  = render :partial => 'spree/shared/user_form', :locals => { :f => f }
  #avatar_partial= render :partial => 'spree/users/avatars'
  %p= f.submit t(:update)

