= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } 

%h2= t(:editing_user)

= form_for @user, :url => spree.user_path(@user), :method => :put do |f|
  #hover_value= hidden_field_tag :avatar_id
  %p= f.submit t(:update)
  = render :partial => 'spree/shared/user_form', :locals => { :f => f }
  #avatar_partial= render :partial => 'spree/users/avatars'
  = render :partial => "spree/users/display_name", :locals => { :f => f }
  %p= f.submit t(:update)

= javascript_include_tag "avatar_pager.js"
