.main-content-wrapper
  .primary-content-fw
    %h2 Edit Teachers
    .grid_edit_students
      .controls
        = form_tag '/teachers/bulk_teachers/edit', method: :get do
          %h5 Optionally Filter List of Teachers:
          .control
            %label Grade:
            = select_tag 'grade', options_for_select([nil] | current_school.grades.map(&:reverse), :selected => params[:grade]), id: 'controls_grade'
            %label Gender:
            = select_tag 'gender', options_for_select([nil, 'Male', 'Female'], :selected => params[:gender]), id: 'controls_gender'
            = button_tag 'Filter List', class: 'btn awesome-button'
      .controls
        %h5 
          Action for
          %span#number_of_teachers
          Selected Teachers:
        .control
          = select_tag 'controls_action', options_for_select(@actions)
          %span.password_field.secondary
            %label Password:
            = text_field_tag 'controls_password'
          = button_tag 'UPDATE These Teachers', class: 'btn awesome-button', id: 'update_these_teachers'
      .bulk_form
        = form_tag '/teachers/bulk_teachers', method: :put, id: 'update_teachers_form' do
          = hidden_field_tag "form_action_hidden_tag", nil, id: "form_action_hidden_tag"
          %table#teachers_header_sort.tablesorter
            %thead
              %tr
                %th= check_box_tag 'select_all'
                %th.text.first First
                %th.text.last Last
                %th.text.email Email
                %th.text.username Username
                %th.select.grade Grade
                %th.select.gender Gender
                %th.text.username Password
                %th
            %tbody.teachers_body
              - @teachers.each do |teacher|
                = render 'edit_teacher_row', grades: current_school.grades, options: { selected: false, first_name: teacher.first_name, last_name: teacher.last_name, email: teacher.user.email, username: teacher.user.username, password: teacher.recovery_password, grade: teacher.grade, gender: teacher.gender, id: teacher.id }

= javascript_include_tag "bulk_teachers"