.main-content-wrapper
  .primary-content-fw
    %h2 Manage Credits
    .grid_edit_students
      %p.credits-available
        %strong
          School Current Bonus Credit Balance:
        %span#current-credit-bal  
          = number_with_precision(current_school.bonus_account.balance, precision: 2, delimiter: ',') || 0

      .controls
        = form_tag '/teachers/bulk_teachers/manage_credits', method: :post do
          %h5 Optionally Filter List of Teachers:
          .control
            %label Grade:
            = select_tag 'grade', options_for_select([nil] | current_school.grades.map(&:reverse), :selected => params[:grade]), id: 'controls_grade'
            %label Gender:
            = select_tag 'gender', options_for_select([nil, 'Male', 'Female'], :selected => params[:gender]), id: 'controls_gender'
            = button_tag 'Filter List', class: 'btn awesome-button'
      .controls
        %h5 
          Action for
          %span#number_of_teachers
          Selected Teachers:
        .control
          = select_tag 'controls_action', options_for_select(@actions)
          %span.password_field.secondary
            %label Credit Quantity:
            = text_field_tag 'credit_quantity'
          = button_tag 'UPDATE These Teachers', class: 'btn awesome-button', id: 'update_these_teachers'
      .bulk_form
        = form_tag '/teachers/bulk_teachers/update_teacher_credits', method: :post, id: 'update_teachers_form' do
          = hidden_field_tag "form_action_hidden_tag", nil, id: "form_action_hidden_tag"
          = hidden_field_tag "credit_qty", nil, id: "credit_qty"
          = hidden_field_tag "current_school_bal", current_school.bonus_account.balance()
          %table
            %thead
              %tr
                %th= check_box_tag 'select_all'
                %th.text.first First
                %th.text.last Last
                %th.text.email Email
                %th.text.username Username
                %th.text.credit Credit Balance
                %th.text.grade Grade
                %th.text.gender Gender
                %th
            %tbody.teachers_body
              - @teachers.each do |teacher|
                = render 'manage_credits_teacher_row', grades: current_school.grades, options: { selected: false, first_name: teacher.first_name, last_name: teacher.last_name, email: teacher.user.email, username: teacher.user.username, grade: teacher.grade, gender: teacher.gender, id: teacher.id, credit_balance: number_with_precision(teacher.main_account(current_school).balance, precision: 2, delimiter: ',') || 0 }
= javascript_include_tag "manage_credits"
                