.main-content-wrapper
  .primary-content-fw
    %h1 New Teachers
    .grid_edit_teachers
      .controls
        .control
          %label Number of Teachers to Add:
          = select_tag 'controls_number_of_teachers', options_for_select(1..40)
        %h5 Optionally Pre-Fill Common Data:
        .control
          %label Grade:
          = select_tag 'controls_grade', options_for_select([nil] | current_school.grades)
          %label Gender:
          = select_tag 'controls_gender', options_for_select([nil, 'Male', 'Female'])
          %label Password:
          = text_field_tag 'controls_password'
          = button_tag 'Go', class: 'btn awesome-button'
      .bulk_form
        = form_tag '/teachers/bulk_teachers', method: :post do
          %table
            %thead
              %tr
                %th.text.first First
                %th.text.last Last
                %th.text.username Email
                %th.text.username Username
                %th.text.password Password
                %th.select.grade Grade
                %th.select.gender Gender
                %th
            %tbody.teachers_body
              - if params["teachers"]
                -params["teachers"].each_with_index do |teacher, index|
                  = render 'teacher_row', grades: current_school.grades, options: teacher, errors: @batch_teacher_creator.teachers[index].errors
          = submit_tag "Add These Teachers", class: 'btn awesome-button add_teachers_button'

%script#teacher_row{type: 'text/html'}
  = render 'teacher_row', grades: current_school.grades, options: { first_name: '{{first}}', last_name: '{{last}}', username: '{{username}}', password: '{{password}}', grade: '{{grade}}', gender: '{{gender}}'}

:coffeescript
  insertNewTeacherRow = (options) ->
    ich.grabTemplates()
    row = ich['teacher_row'](options)
    $('.grade', row).val(options.grade)
    $('.gender', row).val(options.gender)
    $('.grid_edit_teachers tbody').append(row)
    show_add_teachers_button()

  $('.controls button').on 'click', () ->
    options = getControlOptions()
    for time in [1..options.numberOfTeachers]
      insertNewTeacherRow(options)

  getControlOptions = () ->
    numberOfTeachers = $('#controls_number_of_teachers').val()
    grade = $('#controls_grade').val()
    gender = $('#controls_gender').val()
    password = $('#controls_password').val()
    { numberOfTeachers: numberOfTeachers, grade: grade, gender: gender, password: password}

  perhapsDeleteRow = (evt) ->
    if $(evt.target).hasClass('delete_row')
      evt.preventDefault()
      $(evt.target).closest('tr').prev('.error_row').remove()
      $(evt.target).closest('tr').remove()
      if $('.teachers_body').children('tr').size() == 0
        hide_add_teachers_button()
      return false

  $('.grid_edit_teachers').on 'click', (evt) ->
    perhapsDeleteRow(evt)

  hide_add_teachers_button = () ->
    $('.add_teachers_button').hide()

  show_add_teachers_button = () ->
    $('.add_teachers_button').show()

- unless params["teachers"]
  :coffeescript
    $('.add_teachers_button').hide()
