.panel
  .panel_contents
    %table.table
      %thead
        %tr
          %th Name
          %th Email
          %th Username
          %th DOB
          %th Gender
          %th Grade
          %th School
          %th Approve
          %th Delete
      %tbody
        - @teachers.each do |teacher|
          %tr
            %td= teacher.name
            %td= teacher.user if teacher.user
            %td= teacher.user.username if teacher.user
            %td= teacher.dob
            %td= teacher.gender
            %td= teacher.grade
            %td= teacher.schools.first.name if teacher.schools.first
            %td= link_to "Approve", admin_approve_teacher_path(teacher)
            %td= link_to "Delete", admin_deny_teacher_path(teacher), :confirm => true


