%h1 New Student

= form_for @student, :url => teachers_create_student_path do |f|
  = f.label :first_name
  = f.text_field :first_name
  = f.label :last_name
  = f.text_field :last_name
  = f.label :dob
  = f.text_field :dob, :class => 'datepicker'
  = f.label :gender
  = f.select :gender, options_for_select(['Male', 'Female'], :gender), :include_blank => true
  = f.label :grade
  = f.select :grade, options_for_select(['K', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'], :grade), :include_blank => true
  = f.label :username
  = f.text_field :username
  = f.label :password
  = f.password_field :password
  = f.label :password_confirmation
  = f.password_field :password_confirmation
  = f.submit

:javascript
  $(function() {
    $( ".datepicker" ).datepicker();
  });
