= javascript_include_tag "https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"
= stylesheet_link_tag "https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css"
.main-content-wrapper
  .full-content

    %h1 Student Roster Report

    .filter.noprint
      %h4 Filter By
      = form_tag student_roster_report_path, method: :get do
        .grade-filter
          = label_tag :grade
          = select_tag :grade_filter, "<option value='all'>All</option>".html_safe + options_from_collection_for_select(grades, :first, :last, params[:grade_filter])
        .classroom-roster
          = label_tag :classroom
          = select_tag :classroom, "<option value='all'>All</option>".html_safe + options_from_collection_for_select(classrooms, :id, :name, params[:classroom])
        .grade
          = submit_tag 'Go!'
    %br
    = button_to_function "Print Report", "window.print();", class: "noprint btn awesome-button"
    .report
      %br.onlyprint/
      %table#report_table.table.table-bordered.table-striped.solid-background
        %thead
          %tr
            %th Classroom
            %th Grade
            %th Student
            %th Username
            %th Password
        %tbody
          - students.each do |student|
            %tr
              - if @classroom
                %td= @classroom
              - else
                %td= student.classrooms.first ? student.classrooms.first : "No Classroom"
              %td= student.grade
              %td= student.name_last_first
              %td= student.user.username
              %td= student.recovery_password

:javascript
  $(document).ready( function () {
    $('#report_table').dataTable( {
      "bPaginate": false,
      "bInfo": false,
      "aaSorting": [[2, "asc"]]
    } );
  } );
