%p
- if @product.errors.any?
  #error_explanation
    %h2
      = pluralize(@product.errors.count, "error")
      prohibited this product from being saved:
    %ul
      - @product.errors.full_messages.each do |msg|
        %li= msg

%fieldset
  %legend
    Product Details
  .clearfix
    = f.label 'Product Type'
    = select_tag :product_type, options_for_select(@types)
  .clearfix
    = f.label 'Name'
    .input= f.text_field :name
  .clearfix
    = f.label 'Classroom'
    = select_tag :classroom, options_from_collection_for_select(@classrooms, :id, :name)
  .clearfix
    = f.label 'Min/Max Grades'
    = select_tag :min_grade, options_for_select(@grades)
    = select_tag :max_grade, options_for_select(@grades)
  .clearfix
    = f.label 'Description'
    .input= f.text_area :description, {:cols => 60, :rows => 4, :class => 'fullwidth'}
  .clearfix
    = f.label 'Price'
    .input= f.text_field :price, :value => number_to_currency(@product.price, :unit => '')
  .clearfix
    = f.label 'Count on hand'
    .input= f.text_field :on_hand
  .clearfix#quantity
    = f.label 'Retail Qty'
    .input= text_field_tag :retail_qty, @product.retail_quantity
  .clearfix#price
    = f.label 'Retail Price'
    .input= text_field_tag :retail_price, @product.retail_price
  .clearfix
    = f.label 'Available on'
    .input= f.text_field :available_on, :class => 'datepicker'
  - unless @product.images.empty?
    .clearfix
      = image_tag @product.thumb
      %p
      = f.label :current_image
  .clearfix
    = f.fields_for :images do |i|
      = i.label :image
      %br
      = i.file_field :attachment_file_name
      %p
  .clearfix#svg
    = f.fields_for :svg do |i|
      = i.label :svg
      %br
      = i.file_field :svg_file_name
      %p
  - if @product.svg_file_name
    .clearfix
      = f.label :current_svg
      = open(@product.svg.path).read.gsub(/(name_val)/, current_person.name).gsub(/(school_val)/, current_school.name).html_safe 
  .clearfix
    = f.hidden_field :id, value: @product.id
  .clearfix
    .input= f.hidden_field :filter, :value => 1


%p
= button_to :submit

:javascript
  $('select#product_type').change(function() {
    if ($('select#product_type option:selected').val() == "wholesale"){
      $('#svg').hide();
      $('#price').show();
      $('#quantity').show();
    }
    else if ($('select#product_type option:selected').val() == "charity"){
      $('#price').hide();
      $('#quantity').hide();
      $('#svg').show();
    }
    else {
      $('#svg').hide();
      $('#price').hide();
      $('#quantity').hide();
    }
  });

