%p
- if @product.errors.any?
  #error_explanation
    %h2
      = pluralize(@product.errors.count, "error")
      prohibited this product from being saved:
    %ul
      - @product.errors.full_messages.each do |msg|
        %li= msg
.row
  .span4
    %h3 Common Properties
    .control-group
      = f.label :purchased_by, 'Purchased By', {:class => 'control-label'}
      .pull-right
        = f.select :purchased_by, options_for_select(@purchased_by, :selected => @product.purchased_by), :include_blank => @product.purchased_by.nil?, :class => 'input-medium'
    .control-group
      = f.label :product_type, 'Product Type', {:class => 'control-label'}
      .pull-right
        = select_tag :product_type, options_for_select(@types), :class => 'input-medium'
    .control-group
      = f.label :fullfillment_type, 'Fullfillment Type', {:class => 'control-label'}
      .pull-right
        = f.select :fullfillment_type, options_for_select(@fullfillment_types, :selected => @product.fullfillment_type), :include_blank => @product.fullfillment_type.nil?, :class => 'input-medium'
    .control-group
      = f.label :name, 'Name', {:class => 'control-label'}
      .pull-right
        = f.text_field :name, :class => 'input-large'
    .control-group
      = f.label :price, 'credits', {:class => 'control-label'}
      .input-prepend.pull-right
        %span.add-on $
        = f.text_field :price,{ :value => number_to_currency(@product.price, :unit => ''), :class => 'numeric input-small'}
    .control-group#on_hand
      = f.label :on_hand, 'Count on hand', {:class => 'control-label'}
      .pull-right
        = f.text_field :on_hand, {:class => 'numeric input-small'}
    .control-group
      = f.label :available_on, 'Available On', {:class => 'control-label'}
      .pull-right
        = f.text_field :available_on, :value => @product.available_on.in_time_zone(@current_school.timezone), :class => 'datepicker input-medium numeric'
  .span4
    %h3 Description
    .control-group
      = f.text_area :description, {:cols => 60, :rows => 4, :class => 'fullwidth', :placeholder => "Description seen by Students" }
    = f.fields_for :taxons do |t|
      %h3 Categories
      .control-group
        - @categories.each do |category|
          .row
            .span12
              .inline= t.check_box category.id, :checked => @product.taxons.include?(category)
              .inline= t.label category.name
    %h3 Image
    - unless @product.images.empty?
      .control-group
        = image_tag @product.thumb
        = f.label :current_image
    = f.fields_for :images do |i|
      .control-group
        = i.label :attachment, "New Image", {:class => 'control-label'}
        = i.file_field :attachment
    = f.fields_for :svg do |i|
      .control-group#svg
        = i.label :svg, "Charity SVG", {:class => 'control-label'}
        = i.file_field :svg_file_name
        - if @product.svg_file_name
          .control-group
            = f.label :current_svg, "Current SVG", {:class => 'control-label'}
            = @product.svg.to_s
            .svg-container
              = le_svg_tag @product.svg, :style => "width: 100%; height: 100%;display: inline-block;" do
                = render :file => @product.svg.path, :formats => [:svg], :locals => {:name => "Student Name", :school_name => "School Name"}
            = f.hidden_field :id, value: @product.id
            = f.hidden_field :filter, :value => 1
  .span4
    %h3#retail-info Retail Product Info
    .control-group#school-admin-description
      = text_area_tag :wholesale_description, @product.property('wholesale_description') , {:cols => 60, :rows => 4, :class => 'fullwidth', :placeholder => "Description seen by School Administrators"}
    .control-group#price
      = f.label :retail_price, 'Retail Price', {:class => 'control-label'}
      .input-prepend.pull-right
        %span.add-on $
        = f.text_field :retail_price, { :value => number_to_currency(@product.property('retail_price'), :unit => ''), :class => 'numeric input-small' }
    .control-group#quantity
      = f.label :retail_quantity, 'Minimum Shipment', {:class => 'control-label'}
      .pull-right
        = f.text_field :retail_quantity,:class => 'numeric input-small'
    %h3 Grades
    .control-group
      = f.label :min_grade, "Minimum Grade", {:class => "control-label"}
      = f.select :min_grade, options_for_select(@grades, :selected => @product.min_grade), :include_blank => @product.min_grade.nil?, :class => 'input-small'
    .control-group
      = f.label :max_grade, "Maximum Grade", {:class => "control-label"}
      = f.select :max_grade, options_for_select(@grades, :selected => @product.max_grade), :include_blank => @product.max_grade.nil?, :class => 'input-small'

%button{:type => "submit", :class => "btn btn-primary"} Save Changes

:coffeescript
($ document).ready ->
  update_fields = ->
    if ($ 'select#product_type option:selected').val() == "wholesale"
      ($ '#svg').hide()
      ($ '#price,#retail-info,#school-admin-description,#quantity,#on_hand').show()
    else if ($ 'select#product_type option:selected').val() == "charity"
      ($ '#price,#quantity,#retail-info,#school-admin-description').hide()
      ($ '#svg').show()
    else
      ($ '#svg,#price,#retail-info,#school-admin-description,#quantity').hide()
      ($ '#on_hand').show()
  $('#svg').hide()
  update_fields()
  ($ 'select#product_type').change ->
    update_fields()


