- content_for :sidebar do
  %div{ "data-hook" => "homepage_sidebar_navigation" }
    - if "products" == @current_controller && @taxon
      = render :partial => 'spree/shared/filters'
    - else
      -# = render :partial => 'spree/shared/taxonomies'

.main-content-wrapper
  .full-content
    %h2= t('.products', :school => current_school_name, :scope => [store_type])
    - if current_person.is_a?(Teacher)
      %p
        = t('.products_message', :scope => [store_type,current_person.type.downcase])
        %a{intro_tour(2, 'add_or_manage_your_rewards', current_person, {:href => main_app.teachers_rewards_path, :class => 'btn awesome-button manage-rewards'})} Add or Manage Your Rewards
    %div{"data-hook" => "homepage_products"}
      = render :partial => 'spree/shared/products', :locals => { :products => @products }

- if current_person.is_a? SchoolAdmin
  .auctions
    %h2 School Auctions
    %h5= link_to 'New Auction', main_app.new_school_admins_auction_path
    %h5= link_to 'All Auctions', main_app.school_admins_auctions_path

= javascript_include_tag "tours/school_admin/overview"
= javascript_include_tag "tours/student/overview"
= javascript_include_tag "tours/teacher/overview"

:javascript
  if (hopscotch.getState() === "school_admin_overview:8") {
    hopscotch.startTour(school_admin_overview);
  } else if (hopscotch.getState() === "student_overview:5") {
    hopscotch.startTour(student_overview);
  } else if (hopscotch.getState() === "teacher_overview:8") {
    hopscotch.startTour(teacher_overview);
  }

- if current_person.is_a? Student
  :javascript
    introJs().start();

- if current_person.is_a? SchoolAdmin
  :javascript
    introJs().setOption('doneLabel', 'Next page').start().oncomplete(function() {
      window.location.href = "/school_admins/reports?multipage=true&tour=Y";
    });

- if current_person.is_a? Teacher
  :javascript
    introJs().setOption('doneLabel', 'Next page').start().oncomplete(function() {
      window.location.href = "/teachers/reports?multipage=true&tour=Y";
    });
