%h2= @school_admin.name

= form_for admin_school_admin_path, :method => 'put' do |f|
  = select_tag :school, options_for_select(School.all.map{|x| x.name}, :school), :include_blank => true
  = f.submit 'Add School'

%h4 Schools
%table
  %thead
    %tr
      %th School Name
  %tbody
    - @school_admin.schools.each do |school|
      %tr
        %td= link_to school.name, admin_school_path(school)

%h4 Accounts
%table
  %thead
    %tr
      %th Name
      %th Balance
  %tbody
    - @school_admin.accounts.each do |account|
      %tr
        %td= link_to account.name
        %td= account.balance


