- content_for :head do
  = stylesheet_link_tag 'admin/print', :media => 'print'

%h2
  = "Order # #{@order.number}"
  = button_to 'Print', '#', { class: 'noprint btn awesome-button', onclick: 'printReport();', method: :put }
.adr
  %h4= t(:ship_address)
  %div= @address.company
  %div= "c/o #{@address.firstname} #{@address.lastname}"
  %div= @address.address1
  %div= @address.address2 if @address.address2
  %div= "#{@address.city}, #{@address.state_text}, #{@address.zipcode}"
%hr.noprint
%table.table.print-order
  %thead
    %tr
      %th Product ID
      %th Title
      %th Items
      %th Price
  %tbody
  - total = 0
  - @order.line_items.each do |li|
    %tr
      - total += li.price
      %td= li.product.id
      %td= li.product.name
      %td
        .numeric= li.quantity
      %td
        .numeric= li.price
  %tr
    %td{:colspan => 2}
      .numeric
        %strong Order Totals
    %td
      .numeric
        %strong= @order.item_count
    %td
      .numeric
        %strong= total
