.messages-container
  = render "layouts/flashes"
  - if respond_to? :breadcrumbs
    = breadcrumbs(@taxon)
- if (sidebar = yield :sidebar).empty?
  .content-940= yield
  
- else
  .span3= sidebar
  .span9= yield
