.foot
  %ul.secondary-nav.noprint
    %li= link_to "FAQ", "#"
    %li= link_to "Privacy", "privacy"
    %li= link_to "Sponsors", "#"
    %li= link_to "Contact", "#"
    %li= link_to "For Advertisers", "#"

  %p Copyright &copy; 2012 Learning Earnings. All Rights Reserved.
