%footer.footer
  .span12
    %ul.secondary-nav
      %li= link_to "FAQ", "#"
      %li= link_to "Privacy", "#"
      %li= link_to "Sponsors", "#"
      %li= link_to "Contact", "#"
      %li= link_to "For Advertisers", "#"

  .span12
    %p Copyright &copy; 2012 Learning Earnings. All Rights Reserved.
