%footer.footer
  .container
    %p &copy; Learning Earnings 2012
    %ul.secondary-nav
      %li= link_to "FAQ", "#"
      %li= link_to "Privacy", "#"
      %li= link_to "Sponsors", "#"
      %li= link_to "Contact", "#"
      %li= link_to "For Advertisers", "#"
= javascript_include_tag "avatar_pager.js"
