.current-person-avatar.supplemental-part
  = avatar_for(current_person, '80x80#')
.current-person.supplemental-part
  .credit-balance
    %table.table
      %thead
        %tr
          %th.cb-heading-primary{:colspan => "3"} Credit Balance
      %tbody
        %tr
          %td.table-bordered-tl.table-bordered-bl.cb-heading Main
          %td.table-bordered-tr.table-bordered-br.cb-value.currency= number_to_currency(current_person.main_account(current_school).balance)

  .person-details
    %h3= current_person.name
    %ul.links
      %li= link_to "Edit My Profile", main_app.edit_person_path(current_person)
      %li= link_to 'Sign out', spree.destroy_user_session_path, :method => :delete
