%ul.primary-nav
  %li= link_to "Home",       main_app.home_path, :class => 'home'
  %li= link_to inbox_label_with_message_count("Inbox", current_person.received_messages),      main_app.teachers_inbox_path, :class => inbox_count(teacher_inbox_label_with_message_count("Inbox", current_person.received_messages).count("["))
  %li= link_to "Bank",       main_app.school_admins_bank_path, :class => 'bank'
  %li= link_to "Students",   students_path, :class =>'manage_students'
  %li= link_to "Teachers",   main_app.teachers_bulk_teachers_path, :class => 'manage_teachers' 
  %li= link_to "Classrooms", main_app.classrooms_path, :class => 'classrooms'
  %li= link_to "Play",       main_app.games_path, :class => 'play'
  %li= link_to "Shop",       '/store', :class => 'shop'
  %li= link_to "Reports",    main_app.school_admins_reports_path, :class => 'reports'
  %li= link_to "Help",       main_app.help_path, class: 'help'
  %li= link_to "Settings",   '/schools/settings/', class: 'settings'
