%ul.primary-nav
  %li= link_to "Home",            main_app.home_path, class: 'home'
  %li= link_to "Inbox",           main_app.teachers_inbox_path, :class => 'inbox'
  %li= link_to "Bank",            main_app.teachers_bank_path, intro_tour(1,'menu_bank',current_person,{:class => 'bank'})
  %li= link_to "Students",        students_path, class: 'manage_students'
  %li= link_to "Classrooms",      main_app.classrooms_path, intro_tour(1,'menu_classrooms',current_person,{:class => 'classrooms'})
  %li= link_to "Shop",            '/store', intro_tour(1,'menu_store',current_person,{:class => 'shop'} )
  %li= link_to "Reports",         main_app.teachers_reports_path, intro_tour(1,'menu_reports',current_person,{:class => 'reports'})
  %li= link_to "Help",      	main_app.help_path, class: 'help'

