%ul.primary-nav
  %li= link_to "<i class='glyphicon glyphicon-usd'></i> Bank".html_safe,            main_app.teachers_bank_path, :class => 'bank'
  %li= link_to ("<i class='glyphicon glyphicon-envelope'></i> " + inbox_label_with_message_count("Inbox", current_person.received_messages) ).html_safe,           main_app.teachers_inbox_path, :class => inbox_count(inbox_label_with_message_count("Inbox", current_person.received_messages).count("["))
  %li= link_to "<i class='glyphicon glyphicon-user'></i> Students".html_safe,        students_path, class: 'manage_students'
  %li= link_to "<i class='glyphicon glyphicon-book'></i> Classrooms".html_safe,      main_app.classrooms_path, :class => 'classrooms'
  %li= link_to "<i class='glyphicon glyphicon-shopping-cart'></i> Shop".html_safe,            '/store', :class => 'shop'
  %li= link_to "<i class='glyphicon glyphicon-signal'></i> Reports".html_safe,         main_app.teachers_reports_path, :class => 'reports'
  %li= link_to "<i class='glyphicon glyphicon-question-sign'></i> Help".html_safe,      	    main_app.help_path, class: 'help'

