= form_tag spree.user_session_path, :novalidate => 'novalidate' do
  %ul.login-form-fields
    %li
      %span.log-in LOG-IN
    %li
      = text_field_tag 'user[username]', nil, :placeholder => 'Username', :autocomplete => (Rails.env.development? ? 'on' : 'off'),:type => 'email',:class => 'focus-on-me'
    %li
      = password_field_tag 'user[password]', nil, :autocomplete =>  (Rails.env.development? ? 'on' : 'off'), :placeholder => 'Password'
    %li
    %label.supplemenal-login-form @
    = select_tag 'user[school_id]',options_from_collection_for_select(login_schools_list, :id, :name_and_location, last_school_id_or_by_subdomain ), :class => 'chzn-select'
    %li
      %button.btn.login-button
  .forgot-password
    = link_to "Forgot your password?", spree.new_user_password_path('user'), tabindex: "-1"

:coffeescript
  ($ "document").ready ->
    $(".chzn-select").chosen();
