%ul.nav.primary-nav
  %li= link_to "Home",        main_app.teachers_home_path
  %li= link_to "Lounge",      "#"
  %li= link_to "Inbox",       main_app.inbox_path
  %li= link_to "Bank",        main_app.teachers_bank_path
  %li= link_to "Students",    "#"
  %li= link_to "Rewards",     Spree::Core::Engine.routes.url_helpers.root_url(host: request.host,port: request.port,subdomain: session[:current_school_id])
  %li= link_to "Reports",     "#"
  %li= link_to "News",        main_app.page_path('logged_in_news')
