.current-person-avatar.supplemental-part
  - if current_person.avatar.present?
    = image_tag current_person.avatar.image.thumb('175x175#').url
.current-person.supplemental-part
  .credit-balance
    %table.table
      %thead
        %tr 
          %th.cb-heading-primary{:colspan => "3"} Credit Balance
      %tbody
        %tr
          %td.table-bordered-tl.cb-heading Main
          %td.table-bordered-tr.cb-value= number_to_currency(current_person.main_account(current_school).balance)
        %tr
          %td.table-bordered-ml.cb-heading Unredeemed
          %td.table-bordered-mr.cb-value= number_to_currency(current_person.unredeemed_account(current_school).balance)
        %tr
          %td.table-bordered-bl.cb-heading Undeposited
          %td.table-bordered-br.cb-value= number_to_currency(current_person.undeposited_account(current_school).balance)
          
  .person-details
    %h3= current_person.name
    %ul.links
      %li= link_to "Edit My Profile", main_app.edit_person_path(current_person)
      %li= link_to 'Sign out', spree.destroy_user_session_path, :method => :delete
