%ul.primary-nav
  %li= link_to "Home",            main_app.home_path, class: 'home'
  %li= link_to "Inbox",           main_app.teachers_inbox_path, class: 'inbox'
  %li= link_to "Bank",            main_app.teachers_bank_path, class: 'bank'
  - if current_person && current_person.user.present? && current_person.user.email == 'rclements@gmail.com'
    %li= link_to "Manage Students", main_app.teachers_bulk_students_path, class: 'manage_students'
  %li= link_to "Classrooms",      main_app.classrooms_path, class: 'classrooms'
  %li= link_to "Shop",            '/store', class: 'rewards shop'
  %li= link_to "Reports",         main_app.teachers_reports_path, class: 'reports'
