.current-person-avatar.supplemental-part
  - if current_person.avatar.present?
    = image_tag current_person.avatar.image.thumb('175x175#').url
.current-person.supplemental-part
  .credit-balance
    %h4 Credit Balance
    %table.table.table-bordered
      %thead
        %tr
          %th Main
          %th Unredeemed
          %th Undeposited
      %tbody
        %tr
          - if current_person
            %td= number_to_currency(current_person.main_account(current_school).balance)
            %td= number_to_currency(current_person.unredeemed_account(current_school).balance)
            %td= number_to_currency(current_person.undeposited_account(current_school).balance)
          - else
            %td=number_to_currency(0.00)
            %td=number_to_currency(0.00)
  .person-details
    %h3= current_person.name
    %ul.links
      %li= link_to "Edit My Profile", main_app.edit_person_path(current_person)
      %li= link_to 'Sign out', spree.destroy_user_session_path, :method => :delete

    %p
      %strong
        Messages:
      = link_to '2', main_app.page_path('logged_in_inbox')
