.current-person-avatar.supplemental-part
  - if current_person.avatar.present?
    = image_tag current_person.avatar.image.thumb('175x175#').url
.current-person.supplemental-part
  .credit-balance
    %table.table
      %thead
        %tr 
          %th.cb-heading-primary{:colspan => "3"} Credit Balance
      %tbody
        %tr
          %td.table-bordered-tl.cb-heading Credits
          %td.table-bordered-tr.cb-value= number_to_currency(current_person.main_account(current_person.schools.first).balance)
        %tr
          %td.table-bordered-bl.cb-heading Store Credits
          %td.table-bordered-br.cb-value= number_to_currency(current_school.store_account.balance)

  .person-details
    %h3= current_user.email
    %ul.links
      %li= link_to "Edit My Profile", main_app.edit_person_path(current_person)
      %li= link_to 'Sign out', spree.destroy_user_session_path, :method => :delete
