.current-person-avatar.supplemental-part
  = avatar_for(current_person, '80x80#')
.current-person.supplemental-part
  .credit-balance
    %table.table
      %thead
        %tr 
          %th.cb-heading-primary{:colspan => "2"} Credit Balance
      %tbody
        %tr
          %td.table-bordered-tl.cb-heading Checking
          %td.table-bordered-tr.cb-value= current_person.checking_balance
        %tr
          %td.table-bordered-bl.cb-heading Savings
          %td.table-bordered-br.cb-value= current_person.savings_balance
  .person-details
    %h3= current_person.full_name
    %ul.links
      %li= link_to "Edit My Profile", main_app.edit_person_path(current_person)
      %li= link_to 'Sign out', spree.get_destroy_user_session_path
