.supplemental
  .supplemental-bg
  .join.join-supplemental-part
    - if current_user && current_user.person
      = render 'layouts/logged_in_block_' + current_user.person.class.to_s.downcase
    - else
      %ul.join-links
        %li
          %span.join JOIN
        %li
          %span= link_to "Students", main_app.root_path, class: 'btn students'
        %li
          %span= link_to "Parents", main_app.parent_page_path("home"), class: 'btn parents'
        %li
          %span= link_to "Teachers", main_app.teacher_page_path("home"), class: 'btn teachers'
  .login.login-supplemental-part
    - unless current_user
      = render 'layouts/login_form'
