%ul.primary-nav
  %li= link_to "Home",       main_app.home_path, class: 'home'
  %li= link_to "Inbox",      main_app.inbox_path, class: 'inbox'
  %li= link_to "Bank",       main_app.school_admins_bank_path, class: 'bank'
  %li= link_to "Classrooms", main_app.classrooms_path, class: 'classrooms'
  %li= link_to "Rewards",    Spree::Core::Engine.routes.url_helpers.root_url(host: request.host,port: request.port,subdomain: current_school.store_subdomain), class: 'rewards'
  %li= link_to "Reports",    main_app.school_admins_reports_path, class: 'reports'
