%ul.nav.primary-nav
  %li= link_to "Home",    main_app.page_path('logged_in_home')
  %li= link_to "Locker",  main_app.page_path('logged_in_locker')
  %li= link_to "Inbox",   main_app.page_path('logged_in_inbox')
  %li= link_to "Bank",    main_app.bank_path
  %li= link_to "Play",    main_app.page_path('logged_in_play')
  %li= link_to "Rewards", spree.root_path
  %li= link_to "Create",  main_app.page_path('logged_in_create')
  %li= link_to "News",    main_app.page_path('logged_in_news')
