%ul.nav.primary-nav
  %li= link_to "Home",    main_app.page_path('logged_in_home')
  %li= link_to "Locker",  main_app.page_path('logged_in_locker')
  %li= link_to "Inbox",   main_app.inbox_path
  %li= link_to "Bank",    main_app.bank_path
  %li= link_to "Play",    main_app.page_path('logged_in_play')
  %li= link_to "Rewards", Spree::Core::Engine.routes.url_helpers.root_url(host: request.host,port: request.port,subdomain: session[:current_school_id])
  %li= link_to "Wholesale Rewards",Spree::Core::Engine.routes.url_helpers.root_url(host: request.host,port: request.port,subdomain: 'le') if current_person.is_a?(SchoolAdmin)
  %li= link_to "Create",  main_app.page_path('logged_in_create')
  %li= link_to "News",    main_app.page_path('logged_in_news')
