.current-person-avatar.supplemental-part
  - if current_person.avatar.present?
    = image_tag current_person.avatar.image.thumb('80x80#').url
.current-person.supplemental-part
  %h3= current_person.email
  %p= link_to "Edit My Profile", main_app.edit_person_path(current_person)
  %p= link_to 'Sign out', spree.destroy_user_session_path
  %h4 Credit Balance
  %table.table.table-bordered
    %thead
      %tr
        %th Checking
        %th Savings
    %tbody
      %tr
        - if current_person
          %td= current_person.checking_balance
          %td= current_person.savings_balance
        - else
          %td=number_to_currency(0.00)
          %td=number_to_currency(0.00)
