.current-person-avatar.supplemental-part
  - if current_person.avatar.present?
    = image_tag current_person.avatar.image.thumb('175x175#').url
.current-person.supplemental-part
  .credit-balance
    %table.table.table-bordered
      %thead
        %tr 
          %th.bg-white{:colspan => "3"} Credit Balance
      %thead
        %tr
          %th.bg-white Credits
          %th.bg-white Unredeemed
          %th.bg-white Undeposited
      %tbody
        %tr
          %td.bg-white= number_to_currency(current_person.main_account(current_person.schools.first).balance)
          %td.bg-white= number_to_currency(current_person.unredeemed_account(current_person.schools.first).balance)
          %td.bg-white= number_to_currency(current_person.undeposited_account(current_person.schools.first).balance)
    %table.table.table-bordered
      %thead
        %tr
          %th{colspan: "3", align: 'center'} Store Credits
      %tbody
        %tr
          %td{colspan: "3", align: 'center'}= number_to_currency(current_school.store_account.balance)
  .person-details
    %h3= current_user.email
    %ul.links
      %li= link_to "Edit My Profile", main_app.edit_person_path(current_person)
      %li= link_to 'Sign out', spree.destroy_user_session_path, :method => :delete
