.current-person-avatar.supplemental-part
  - if current_person.avatar.present?
    = image_tag current_person.avatar.image.thumb('135x135#').url
.current-person.supplemental-part
  .credit-balance
    %table.table.table-bordered
      %thead
        %tr 
          %th.bg-white{:colspan => "2"} Credit Balance
      %thead
        %tr
          %th.bg-white Checking
          %th.bg-white Savings
      %tbody
        %tr
          %td.bg-white= current_person.checking_balance
          %td.bg-white= current_person.savings_balance
  .person-details
    %h3= current_person.full_name
    %ul.links
      %li= link_to "Edit My Profile", main_app.edit_person_path(current_person)
      %li= link_to 'Sign out', spree.destroy_user_session_path, :method => :delete
