%ul.primary-nav
  %li= link_to "Home",         root_path,  :class => 'home' 
  %li= link_to "How it works", main_app.page_path('not_logged_in_how_it_works'), :class => 'how-it-works' 
  %li= link_to "Locker",       main_app.page_path('not_logged_in_locker'), :class => 'locker'
  %li= link_to "Bank",         main_app.page_path('not_logged_in_bank'), :class => 'bank' 
  %li= link_to "Shop & Play",         main_app.page_path('not_logged_in_rewards'), :class => 'rewards' 
