%ul.nav.primary-nav
  %li= link_to "Home",         root_path
  %li= link_to "How it works", main_app.page_path('how_it_works')
  %li= link_to "Locker",       main_app.page_path('locker')
  %li= link_to "Inbox",        main_app.page_path('inbox')
  %li= link_to "Bank",         main_app.page_path('bank')
  %li= link_to "Play",         main_app.page_path('play')
  %li= link_to "Rewards",      main_app.page_path('rewards')
  %li= link_to "News",         main_app.page_path('news')
