- # FIXME: This is not good, needs to be replaced with something that just knows what to render without these...things

   
.custom-nav-bar
  .resp-logo
    = link_to(image_tag('logo-learning-earnings-ondark.png'), root_path)
  .resp-logo-collapsed
    = link_to(image_tag('logo-learning-earnings-ondark.png'), root_path)    
  - if current_user
    - if current_person
      - if current_person.is_a?(SchoolAdmin)
        = render 'layouts/logged_in_menu_schooladmin'
      - elsif current_person.is_a?(Teacher)
        = render 'layouts/logged_in_menu_teacher'
      - else
        = render 'layouts/logged_in_menu'
    - else
      = render 'layouts/logged_in_menu'
  - else
    - case params[:visitor_type]
      - when 'teacher'
        = render 'layouts/menu_teacher'
      - when 'parent'
        = render 'layouts/menu_parent'
      - else
        = render 'layouts/menu'
  - if current_user        
    .profile
      .avatar
        = link_to(avatar_for(current_person, '34x34'), spree.get_destroy_user_session_path)          
      .person-details
        = current_person.full_name
      .arrow
        = image_tag('Collapse.png')
    .profile-collapsed
      .arrow
        = image_tag('Expand.png')      
      %br
      .avatar
        = link_to(avatar_for(current_person, '34x34'), spree.get_destroy_user_session_path)          
       

    
