!!!
/[if lt IE 7] <html class="lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="lt-ie9 lt-ie8">
/[if IE 8] <html class="lt-ie9">
/[if gt IE 8]<!
%html.resp
  / <![endif]
  %head
    %title Learning Earnings
    = csrf_meta_tags
    %meta{:name => "viewport", :content => "width=device-width"}
    = oboe_rum_header rescue ""

    = javascript_include_tag 'svgweb/svg.js', "data-path" => "#{File.dirname(asset_path('svgweb/svg.js'))}", "data-htc-filename" => "#{File.basename(asset_path('svgweb/svg.htc'))}",  "data-swf-path" => "#{asset_path('svgweb/svg.swf')}"
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js'
    = javascript_include_tag 'application'
    = stylesheet_link_tag    'application', media: 'all'
    = stylesheet_link_tag 'admin/ie_noprint.css', media: 'print'
    = stylesheet_link_tag '/pds/dist/css/pds.css', media: 'all'   
    :plain 
      <script src="/pds/dist/js/01-wc-lite.js"></script>      
      <script src="/pds/dist/js/02-pds-toolkit.js"></script>
      <link rel="import" href="/pds/dist/js/03-pds-components.html" />    
      <script src="/pds/dist/js/04-init.js"></script>      
    - if current_user && current_user.person
      = stylesheet_link_tag current_user.person.type.downcase + '_background', media: 'all'
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8360883-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body.resp
    %pss-main-app.pds-app
      %pds-app-nav.pds-app-nav
        .unified-classroom-wrapper
      %main
        .pds-app-head
        .toolbar
        .pds-content
          %router-outlet
          = render "layouts/resp_content_container" 
        .toolbar
               
 

    = oboe_rum_footer rescue ""
