!!!
%html
  %head
    %title Learning Earnings
    = stylesheet_link_tag    'application', media: 'all'
    //= stylesheet_link_tag 'store/all', :media => 'screen'

    /= javascript_include_tag 'store/all'
    = javascript_include_tag 'application'
    = javascript_include_tag 'custom'
    = csrf_meta_tags
  %body
    .container
      .row
        = render "layouts/head"
      .row
        = render "layouts/content_container"
      .row
        = render "layouts/footer"
