!!!
%html
  %head
    %title Learning Earnings
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .head
      .logo
        logo
      .supplemental
        .login.supplemental-part
          - if current_user
            %h4= link_to 'Sign out', spree.destroy_user_session_path, :method => :delete
          - else
            = form_tag spree.user_session_path do
              = text_field_tag 'user[email]'
              = password_field_tag 'user[password]'
              = label_tag 'user[remember_me]', 'Remember me'
              = check_box_tag 'user[remember_me]'
              %button Sign in
              = link_to "Forgot your password?", spree.new_user_password_path('user')
        .join.supplemental-part
          - if current_user
            .current-user-avatar.supplemental-part
              - if current_user.avatar.present?
                = image_tag current_user.avatar.image.thumb('175x175#').url
              .current-user.supplemental-part
                %h3= current_user.email
                %p= link_to "Edit My Profile", spree.edit_user_path(current_user)
                %h4 Credit Balance
                %table.table.table-bordered
                  %thead
                    %tr
                      %th Checking
                      %th Savings
                  %tbody
                    %tr
                      - if current_user.person.present? && current_user.person.account.present?
                        %td=number_to_currency(current_user.person.account.balance)
                        %td=number_to_currency(current_user.person.account.balance)
                      - else
                        %td=number_to_currency(0.00)
                        %td=number_to_currency(0.00)

                %p
                  %strong
                    Messages:
                  = link_to '2', main_app.page_path('logged_in_inbox')
          - else
            %h4 Join
            %p= link_to "Students", "#", class: 'btn'
            %p= link_to "Educators", "#", class: 'btn'
            %p= link_to "Parents", "#", class: 'btn'



    .navbar
      .fill.navbar-inner
        .container
          = render 'layouts/menu'

    .container
      = render "layouts/flashes"
      .body-content
        .row
          .span12= yield
    = render "layouts/footer"
