!!!
/[if lt IE 7] <html class="lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="lt-ie9 lt-ie8">
/[if IE 8] <html class="lt-ie9">
/[if gt IE 8]<!
%html.resp
  / <![endif]
  %head
    %title Learning Earnings
    = csrf_meta_tags
    %meta{:name => "viewport", :content => "width=device-width"}
    = oboe_rum_header rescue ""

    = javascript_include_tag 'svgweb/svg.js', "data-path" => "#{File.dirname(asset_path('svgweb/svg.js'))}", "data-htc-filename" => "#{File.basename(asset_path('svgweb/svg.htc'))}",  "data-swf-path" => "#{asset_path('svgweb/svg.swf')}"
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js'
    = javascript_include_tag 'application'
    = stylesheet_link_tag    'application', media: 'all'
    = stylesheet_link_tag 'admin/ie_noprint.css', media: 'print'
    = menu_json
    :plain
      <link class="pds-icon-src" rel="import" href="/unified_classroom/dist/img/icons/pds-icons.svg" />
      <script src="/unified_classroom/dist/js/html-import.js"></script>
      <script src="/unified_classroom/dist/js/arrive.min.js"></script>
      <script src="/unified_classroom/dist/js/01-wc-lite.js"></script>
      <script src="/unified_classroom/dist/js/02-pds-toolkit.js"></script>
      <link rel="import" href="/unified_classroom/dist/js/03-pds-components.html" />
      <script src="/unified_classroom/dist/js/04-init.js"></script>
      <link rel="stylesheet" href="/unified_classroom/cp-override.css">
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8360883-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    .unified_classroom_wrapper
      :plain
        <div class="nav_place_holder" style="position:absolute;top:0px;left:0px;z-index:-1;width:250px;">
        </div>
      .pds-main.main-content-wrapper.resp-page-content
        = render "layouts/resp_content_container"
    = render "layouts/footer"


    = oboe_rum_footer rescue ""
