!!!
%html
  %head
    %title Learning Earnings
    = javascript_include_tag 'svgweb/svg.js', "data-path" => "#{File.dirname(asset_path('svgweb/svg.js'))}", "data-htc-filename" => "#{File.basename(asset_path('svgweb/svg.htc'))}",  "data-swf-path" => "#{asset_path('svgweb/svg.swf')}"
    = stylesheet_link_tag    'application', media: 'all'
    = stylesheet_link_tag    'ie_noprint', media: 'print'
    = javascript_include_tag 'application'
    %meta{:name => "viewport", :content => "width=device-width"}
    = csrf_meta_tags
  %body

    .header

    .container-940
      .head
        = render "layouts/head"
      = render "layouts/content_container"
      = render "layouts/footer"

    .container-1170
      .content-container
        .side-art
          .side-art-students
