!!!
%html
  %head
    %title Learning Earnings
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = render 'layouts/head'
    = render 'layouts/navbar'
    = render 'layouts/content_container'
    = render "layouts/footer"
