!!!
%html.resp
  %head
    %title Learning Earnings
    = javascript_include_tag 'svgweb/svg.js', "data-path" => "#{File.dirname(asset_path('svgweb/svg.js'))}"
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %meta{:name => "viewport", :content => "width=device-width"}
    = csrf_meta_tags
  %body.resp
    .resp-page-content-container
      .resp-head
        = render "layouts/resp_head"
        = render "layouts/resp_content_container"
        = render "layouts/footer"

      .resp-content-container
        .resp-side-art
          .resp-side-art-students
