!!!
%html
  %head
    %title Learning Earnings
    = stylesheet_link_tag    'application', media: 'all'
    = stylesheet_link_tag 'store/all', :media => 'screen'

    = javascript_include_tag 'application'
    = javascript_include_tag 'store/all'

    = csrf_meta_tags
  %body
    = render "layouts/head"
    = render "layouts/navbar"
    = render "layouts/content_container"
    = render "layouts/footer"
